# ignore build folder:
target

# ignore font binaries in master branch:
Source*.otf
Source*.ttf

# ignore processed glyphs & hashmap in masters:
*/*/*/*.ufo/glyphs.com.adobe.type.processedGlyphs
*/*/*/*.ufo/data/com.adobe.type.processedHashMap
*/*/*/*.ufo/layercontents.plist
