@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./WOFF2/VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2'),
         url('./WOFF/VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff'),
         url('./VAR/SourceSerif4Variable-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Serif VF';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./WOFF2/VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2'),
         url('./WOFF/VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff'),
         url('./VAR/SourceSerif4Variable-Italic.ttf') format('truetype');
}
