<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIGURES</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>4</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)(\.)?(lf)?(slash)?(dnom|numr)?$</string>
			<string>^(dollar|cent|sterling|yen|Euro|florin|colonmonetary|lira|naira|peseta|dong|peso|guarani|cedi|rupeeindian|currency|won|tugrik|hryvnia|tenge|ruble|bitcoin)(turkish)?$</string>
			<string>^(percent|perthousand|numbersign|degree|partialdiff|estimated)$</string>
			<string>^(one|two|three|five|seven)(half|quarter|third|eighth)(s)?$</string>
			<string>^\.notdef$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>1</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>LOWERCASE</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>6</integer>
		</array>
		<key>other_blue_pairs</key>
		<array>
			<integer>0</integer>
		</array>
		<key>regex</key>
		<array>
			<string>^(dotless|germandbl|schw|long)?[a-z](macron|breve|circumflex|dieresis|horn|dotbelow)?(grave|acute|circumflex|tilde|dieresis|ring|caron|slash|cedilla|horn|breve|macron|ogonek|croat|dotaccent|commaaccent|hungarumlaut|dot|bar|th|line|hook|stroke|tail|ng|script|greenlandic|apostrophe|hoi)?(above|below|dotaccent)?(\.)?(alt|d|trk)?(sups)?$</string>
			<string>^[ao][e]$</string>
			<string>^(f)_(f_)?[ftil]$</string>
			<string>^(alphalatin|ij)$</string>
			<string>^[a-z](!&gt;?sc)*?(grave|breve|dieresis|macron|bar|acutedbl)?(cyr|short|\.bulg|\.ital|abkhaz|ukran|middlehook)(descender|\.bulg)?$</string>
			<string>^(ie)(breve|grave|ukran)?$</string>
			<string>^(yusbig|enghe|tetse|chekhakassian|schwacyr)$</string>
			<string>^(u|i)(short|straight)(stroke)?$</string>
			<string>^(be|ve|ghe|de|zhe|ze|ka|el|em|en|pe|er|es|te|ef|ha|tse|che|sha|shcha|hard|yeru|soft|yu|ya|io|dje|gje|dze|yi|je|lje|nje|tshe|kje|dzhe|yat|fita|izhitsa|shha|palochka|aie|qa|we)(dieresis|acutedbl|grave|vert|ukran|up|descender|middlehook|abkhaz|stroke|bashkir|breve|\.srb)?(cyr|descender)?$</string>
			<string>^(alpha|beta|gamma|delta|epsilon|zeta|eta|theta|iota|kappa|lambda|mu|nu|xi|omicron|pi|rho|sigma|tau|upsilon|phi|chi|psi|omega)(tonos|grave|acute|dieresis|lenis|asper|breve|macron|\.?end)?(grave|acute|tilde|tonos)?$</string>
			<string>^(kai|koppa|stigma|digamma|sampi)$</string>
			<string>^(exclam|question)(down|greek|dbl|exclam|question)?$</string>
			<string>^(at|ampersand|section|dagger|daggerdbl|litre|asterisk|eighthnote|anoteleia|numero)$</string>
			<string>^(pi|mu)(\.math)?$</string>
			<string>^(period|comma|colon|semicolon|ellipsis)$</string>
			<string>^(quote)(single?|dbl)?(right|left|base)?$</string>
			<string>^(guil)(lemot|singl)(left|right)$</string>
			<string>^(paren)(right|left)?$</string>
			<string>^(broken)?(bar)$</string>
			<string>^(dbl)?(prime)$</string>
			<string>^(bracket|brace)(left|right)(.cap)$</string>
			<string>^(commaturned|apostrophe)(mod)$</string>
			<string>^(ord)(feminine|masculine)$</string>
			<string>^(low)?numeralsign$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>1</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>SMALL_CAPS</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>3</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^[A-Z][A-Z]?(macron|breve|circumflex|dieresis|horn|dotbelow)?(grave|acute|circumflex|tilde|dieresis|ring|caron|slash|cedilla|horn|breve|macron|ogonek|croat|dotaccent|commaaccent|hungarumlaut|dot|bar|th|line|hook|stroke|hoi)?(above|below|dotaccent)?(\.sc)$</string>
			<string>^(G|g)ermandbls(\.sc)$</string>
			<string>^(Schwa|Eng|tdieresis)(\.sc)$</string>
			<string>^(f)_(f_)?[ftil](\.sc)$</string>
			<string>^(Alpha|Beta|Gamma|Delta|Epsilon|Zeta|Eta|Theta|Iota|Kappa|Lambda|Mu|Nu|Xi|Omicron|Pi|Rho|Sigma|Tau|Upsilon|Phi|Chi|Psi|Omega)(dieresis|tonos)?(\.sc)$</string>
			<string>^[A-Z].*(cyr|\.bulg|abkhaz|ukran|middlehook)(descender)?(\.sc)$</string>
			<string>^(Ie)(breve|grave)?(\.sc)$</string>
			<string>^(Yusbig|Enghe|Tetse|Chekhakassian)(\.sc)$</string>
			<string>^(U|I)(short|straight)(stroke)?(\.sc)$</string>
			<string>^(Be|Ve|Ghe|De|Zhe|Ze|Ka|El|Em|En|Pe|Er|Es|Te|Ef|Ha|Tse|Che|Sha|Shcha|Hard|Yeru|Soft|Yu|Ya|Io|Dje|Gje|Dze|Yi|Je|Lje|Nje|Tshe|Kje|Dzhe|Yat|Fita|Izhitsa|Shha|Palochka|Aie|Qa|We)(dieresis|acutedbl|grave|vert|ukran|up|descender|stroke|bashkir|breve)?(cyr)?(\.sc)$</string>
			<string>^(ampersand|hyphen)(\.sc)$</string>
			<string>^e[mn]dash\.sc$</string>
			<string>^(brace|bracket|paren)(left|right)(\.sc)$</string>
			<string>^quote(single|dbl)?(left|right)?(\.sc)$</string>
			<string>^(exclam|question)(down)?(\.sc)$</string>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)\.sc$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>1</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>TEXT_FIGURES</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)\.t?(osf)$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>1</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
	<key>UPPERCASE</key>
	<dict>
		<key>blue_pairs</key>
		<array>
			<integer>0</integer>
			<integer>5</integer>
		</array>
		<key>other_blue_pairs</key>
		<array/>
		<key>regex</key>
		<array>
			<string>^[A-Z][A-Z]?(macron|breve|circumflex|dieresis|horn|dotbelow)?(grave|acute|circumflex|tilde|dieresis|ring|caron|slash|cedilla|horn|breve|macron|ogonek|croat|dotaccent|commaaccent|hungarumlaut|dot|bar|th|line|hook|stroke|hoi)?(above|below|dotaccent)?(\.sups)?$</string>
			<string>^(Germandbls|Schwa|Eng)$</string>
			<string>^(Alpha|Beta|Gamma|Delta|Epsilon|Zeta|Eta|Theta|Iota|Kappa|Lambda|Mu|Nu|Xi|Omicron|Pi|Rho|Sigma|Tau|Upsilon|Phi|Chi|Psi|Omega)(dieresis|tonos)?$</string>
			<string>^[A-Z].*(cyr|\.bulg|abkhaz|ukran|middlehook)(descender)?$</string>
			<string>^(Ie)(breve|grave)?$</string>
			<string>^(Yusbig|Enghe|Tetse|Chekhakassian)$</string>
			<string>^(U|I)(short|straight)(stroke)?$</string>
			<string>^(Be|Ve|Ghe|De|Zhe|Ze|Ka|El|Em|En|Pe|Er|Es|Te|Ef|Ha|Tse|Che|Sha|Shcha|Hard|Yeru|Soft|Yu|Ya|Io|Dje|Gje|Dze|Yi|Je|Lje|Nje|Tshe|Kje|Dzhe|Yat|Fita|Izhitsa|Shha|Palochka|Aie|Qa|We)(dieresis|acutedbl|grave|vert|ukran|up|descender|stroke|bashkir|breve)?(cyr)?$</string>
			<string>^(at|anoteleia|exclam|question)(down)?(\.cap)$</string>
			<string>^(commerce|deposee|service|trade)mark$</string>
			<string>^registered$</string>
			<string>^(paragraph)$</string>
			<string>^(sound)?copy(right|left)$</string>
			<string>^(Delta|Omega)\.math$</string>
			<string>^(summation|product)$</string>
			<string>^(zero|one|two|three|four|five|six|seven|eight|nine)\.cap$</string>
		</array>
		<key>stem_indexes_h</key>
		<array>
			<integer>1</integer>
		</array>
		<key>stem_indexes_v</key>
		<array>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
