<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ADDL_AL3_AL4</key>
		<array>
			<string>f_f</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>ruble</string>
		</array>
		<key>COMBINING_MARKS</key>
		<array>
			<string>gravecmb</string>
			<string>gravecmb.cap</string>
			<string>acutecmb</string>
			<string>acutecmb.cap</string>
			<string>circumflexcmb</string>
			<string>circumflexcmb.cap</string>
			<string>tildecmb</string>
			<string>tildecmb.cap</string>
			<string>macroncmb</string>
			<string>macroncmb.cap</string>
			<string>brevecmb</string>
			<string>brevecmb.cap</string>
			<string>dotaccentcmb</string>
			<string>dotaccentcmb.cap</string>
			<string>dieresiscmb</string>
			<string>dieresiscmb.cap</string>
			<string>ringcmb</string>
			<string>ringcmb.cap</string>
			<string>hungarumlautcmb</string>
			<string>hungarumlautcmb.cap</string>
			<string>caroncmb</string>
			<string>caroncmb.cap</string>
			<string>commabelowcmb</string>
			<string>cedillacmb</string>
			<string>ogonekcmb</string>
		</array>
		<key>LATIN</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aring</string>
			<string>Aogonek</string>
			<string>AE</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Ecaron</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Idotaccent</string>
			<string>Iogonek</string>
			<string>Kcommaaccent</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Ldot</string>
			<string>Lslash</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ntilde</string>
			<string>Ncommaaccent</string>
			<string>Ndotaccent</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Ohungarumlaut</string>
			<string>Oslash</string>
			<string>OE</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
			<string>Eth</string>
			<string>Thorn</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aring</string>
			<string>aogonek</string>
			<string>ae</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>ecaron</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>i.trk</string>
			<string>dotlessi</string>
			<string>kcommaaccent</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>ldot</string>
			<string>lslash</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ntilde</string>
			<string>ncommaaccent</string>
			<string>ndotaccent</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>ohungarumlaut</string>
			<string>oslash</string>
			<string>oe</string>
			<string>racute</string>
			<string>rcommaaccent</string>
			<string>rcaron</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
			<string>longs</string>
			<string>germandbls</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
			<string>eth</string>
			<string>thorn</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>f_t</string>
			<string>f_f</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>exclamdown</string>
			<string>exclamdown.cap</string>
			<string>questiondown</string>
			<string>questiondown.cap</string>
			<string>dotlessj</string>
		</array>
		<key>cap_punc</key>
		<array>
			<string>hyphen.cap</string>
			<string>endash.cap</string>
			<string>emdash.cap</string>
			<string>parenleft.cap</string>
			<string>bracketleft.cap</string>
			<string>braceleft.cap</string>
			<string>parenright.cap</string>
			<string>bracketright.cap</string>
			<string>braceright.cap</string>
			<string>guillemotleft.cap</string>
			<string>guilsinglleft.cap</string>
			<string>guillemotright.cap</string>
			<string>guilsinglright.cap</string>
			<string>at.cap</string>
			<string>exclamdown.cap</string>
			<string>questiondown.cap</string>
			<string>horizontalbar.cap</string>
		</array>
		<key>currency</key>
		<array>
			<string>dollar</string>
			<string>cent</string>
			<string>sterling</string>
			<string>yen</string>
			<string>Euro</string>
			<string>liraturkish</string>
			<string>rupeeindian</string>
			<string>florin</string>
			<string>ruble</string>
		</array>
		<key>fig_lf</key>
		<array>
			<string>zero.lf</string>
			<string>one.lf</string>
			<string>two.lf</string>
			<string>three.lf</string>
			<string>four.lf</string>
			<string>five.lf</string>
			<string>six.lf</string>
			<string>seven.lf</string>
			<string>eight.lf</string>
			<string>nine.lf</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>fig_osf</key>
		<array>
			<string>eight.osf</string>
			<string>five.osf</string>
			<string>four.osf</string>
			<string>nine.osf</string>
			<string>one.osf</string>
			<string>seven.osf</string>
			<string>six.osf</string>
			<string>three.osf</string>
			<string>two.osf</string>
			<string>zero.osf</string>
			<string>zero.tosf</string>
			<string>one.tosf</string>
			<string>two.tosf</string>
			<string>three.tosf</string>
			<string>four.tosf</string>
			<string>five.tosf</string>
			<string>six.tosf</string>
			<string>seven.tosf</string>
			<string>eight.tosf</string>
			<string>nine.tosf</string>
		</array>
		<key>fig_prop</key>
		<array>
			<string>eight.osf</string>
			<string>five.osf</string>
			<string>four.osf</string>
			<string>nine.osf</string>
			<string>one.osf</string>
			<string>seven.osf</string>
			<string>six.osf</string>
			<string>three.osf</string>
			<string>two.osf</string>
			<string>zero.osf</string>
			<string>zero.lf</string>
			<string>one.lf</string>
			<string>two.lf</string>
			<string>three.lf</string>
			<string>four.lf</string>
			<string>five.lf</string>
			<string>six.lf</string>
			<string>seven.lf</string>
			<string>eight.lf</string>
			<string>nine.lf</string>
		</array>
		<key>lc</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>mu.math</string>
			<string>germandbls</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>ae</string>
			<string>ccedilla</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>eth</string>
			<string>ntilde</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>yacute</string>
			<string>thorn</string>
			<string>ydieresis</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aogonek</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>emacron</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ecaron</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
			<string>imacron</string>
			<string>iogonek</string>
			<string>dotlessi</string>
			<string>kcommaaccent</string>
			<string>lacute</string>
			<string>lcommaaccent</string>
			<string>lcaron</string>
			<string>ldot</string>
			<string>lslash</string>
			<string>nacute</string>
			<string>ncommaaccent</string>
			<string>ncaron</string>
			<string>omacron</string>
			<string>ohungarumlaut</string>
			<string>oe</string>
			<string>racute</string>
			<string>rcommaaccent</string>
			<string>rcaron</string>
			<string>sacute</string>
			<string>scedilla</string>
			<string>scaron</string>
			<string>tcedilla</string>
			<string>tcaron</string>
			<string>umacron</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
			<string>zacute</string>
			<string>zdotaccent</string>
			<string>zcaron</string>
			<string>longs</string>
			<string>florin</string>
			<string>scommaaccent</string>
			<string>tcommaaccent</string>
			<string>ndotaccent</string>
			<string>litre</string>
			<string>f_f</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>f_f_i</string>
			<string>f_f_l</string>
			<string>i.trk</string>
			<string>dotlessj</string>
		</array>
		<key>math</key>
		<array>
			<string>plus</string>
			<string>less</string>
			<string>equal</string>
			<string>greater</string>
			<string>bar</string>
			<string>asciitilde</string>
			<string>logicalnot</string>
			<string>plusminus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>minus</string>
			<string>bulletoperator</string>
			<string>approxequal</string>
			<string>notequal</string>
			<string>lessequal</string>
			<string>greaterequal</string>
		</array>
		<key>public.kern1.LAT_A</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Abreve</string>
			<string>Acircumflex</string>
			<string>Adieresis</string>
			<string>Agrave</string>
			<string>Amacron</string>
			<string>Aogonek</string>
			<string>Aring</string>
			<string>Atilde</string>
		</array>
		<key>public.kern1.LAT_C</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
		</array>
		<key>public.kern1.LAT_D</key>
		<array>
			<string>D</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Eth</string>
		</array>
		<key>public.kern1.LAT_E</key>
		<array>
			<string>AE</string>
			<string>E</string>
			<string>Eacute</string>
			<string>Ecaron</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Egrave</string>
			<string>Emacron</string>
			<string>Eogonek</string>
			<string>OE</string>
		</array>
		<key>public.kern1.LAT_G</key>
		<array>
			<string>G</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
		</array>
		<key>public.kern1.LAT_H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
			<string>Igrave</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>M</string>
		</array>
		<key>public.kern1.LAT_J</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern1.LAT_K</key>
		<array>
			<string>K</string>
			<string>Kcommaaccent</string>
		</array>
		<key>public.kern1.LAT_L</key>
		<array>
			<string>L</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lslash</string>
			<string>Lcommaaccent</string>
		</array>
		<key>public.kern1.LAT_N</key>
		<array>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ntilde</string>
			<string>Ndotaccent</string>
			<string>Ncommaaccent</string>
		</array>
		<key>public.kern1.LAT_O</key>
		<array>
			<string>O</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Odieresis</string>
			<string>Ograve</string>
			<string>Ohungarumlaut</string>
			<string>Omacron</string>
			<string>Oslash</string>
			<string>Otilde</string>
			<string>Q</string>
		</array>
		<key>public.kern1.LAT_R</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
		</array>
		<key>public.kern1.LAT_S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern1.LAT_T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
		</array>
		<key>public.kern1.LAT_U</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Ugrave</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uogonek</string>
			<string>Uring</string>
		</array>
		<key>public.kern1.LAT_W</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern1.LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern1.LAT_Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern1.LAT_a</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aring</string>
			<string>aogonek</string>
		</array>
		<key>public.kern1.LAT_b</key>
		<array>
			<string>b</string>
			<string>p</string>
			<string>thorn</string>
			<string>f_b</string>
			<string>f_f_b</string>
		</array>
		<key>public.kern1.LAT_c</key>
		<array>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>ccedilla</string>
		</array>
		<key>public.kern1.LAT_dcaron</key>
		<array>
			<string>dcaron</string>
			<string>lcaron</string>
			<string>tcaron</string>
		</array>
		<key>public.kern1.LAT_e</key>
		<array>
			<string>ae</string>
			<string>e</string>
			<string>eacute</string>
			<string>ecaron</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>egrave</string>
			<string>emacron</string>
			<string>eogonek</string>
			<string>oe</string>
		</array>
		<key>public.kern1.LAT_f</key>
		<array>
			<string>f</string>
			<string>longs</string>
			<string>f_f</string>
			<string>f_f_f</string>
		</array>
		<key>public.kern1.LAT_g</key>
		<array>
			<string>g</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
		</array>
		<key>public.kern1.LAT_h</key>
		<array>
			<string>h</string>
			<string>m</string>
			<string>n</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ntilde</string>
			<string>ndotaccent</string>
			<string>ncommaaccent</string>
			<string>f_f_h</string>
			<string>f_h</string>
		</array>
		<key>public.kern1.LAT_i</key>
		<array>
			<string>dotlessi</string>
			<string>i</string>
			<string>iacute</string>
			<string>igrave</string>
			<string>iogonek</string>
			<string>f_i</string>
			<string>i.trk</string>
			<string>f_f_i</string>
		</array>
		<key>public.kern1.LAT_icircumflex</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
		</array>
		<key>public.kern1.LAT_j</key>
		<array>
			<string>j</string>
			<string>f_j</string>
			<string>f_f_j</string>
			<string>dotlessj</string>
		</array>
		<key>public.kern1.LAT_k</key>
		<array>
			<string>k</string>
			<string>kcommaaccent</string>
			<string>f_k</string>
			<string>f_f_k</string>
		</array>
		<key>public.kern1.LAT_l</key>
		<array>
			<string>d</string>
			<string>dcroat</string>
			<string>l</string>
			<string>lacute</string>
			<string>lslash</string>
			<string>f_l</string>
			<string>lcommaaccent</string>
			<string>f_f_l</string>
		</array>
		<key>public.kern1.LAT_o</key>
		<array>
			<string>o</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>odieresis</string>
			<string>ograve</string>
			<string>ohungarumlaut</string>
			<string>omacron</string>
			<string>otilde</string>
			<string>oslash</string>
		</array>
		<key>public.kern1.LAT_r</key>
		<array>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>rcommaaccent</string>
		</array>
		<key>public.kern1.LAT_s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
		</array>
		<key>public.kern1.LAT_t</key>
		<array>
			<string>t</string>
			<string>tcommaaccent</string>
			<string>tcedilla</string>
			<string>f_t</string>
			<string>f_f_t</string>
		</array>
		<key>public.kern1.LAT_u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
		</array>
		<key>public.kern1.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
		</array>
		<key>public.kern1.LAT_z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern1.colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern1.comma</key>
		<array>
			<string>comma</string>
			<string>ellipsis</string>
			<string>period</string>
			<string>quotedblbase</string>
			<string>quotesinglbase</string>
		</array>
		<key>public.kern1.comma.sups</key>
		<array>
			<string>comma.sups</string>
			<string>period.sups</string>
		</array>
		<key>public.kern1.copyright</key>
		<array>
			<string>copyright</string>
			<string>soundcopyright</string>
		</array>
		<key>public.kern1.eight.lf</key>
		<array>
			<string>eight.lf</string>
			<string>three.lf</string>
			<string>eight.cap</string>
			<string>three.cap</string>
		</array>
		<key>public.kern1.equal</key>
		<array>
			<string>equal</string>
			<string>notequal</string>
			<string>approxequal</string>
			<string>logicalnot</string>
		</array>
		<key>public.kern1.five.lf</key>
		<array>
			<string>five.lf</string>
			<string>five.cap</string>
		</array>
		<key>public.kern1.four.lf</key>
		<array>
			<string>four.lf</string>
			<string>four.cap</string>
		</array>
		<key>public.kern1.fractions</key>
		<array>
			<string>onehalf</string>
			<string>onequarter</string>
			<string>percent</string>
			<string>threequarters</string>
			<string>perthousand</string>
			<string>fiveeighths</string>
			<string>oneeighth</string>
			<string>onethird</string>
			<string>seveneighths</string>
			<string>threeeighths</string>
			<string>twothirds</string>
		</array>
		<key>public.kern1.guilsinglleft</key>
		<array>
			<string>guillemotleft</string>
			<string>guillemotleft.cap</string>
			<string>guilsinglleft</string>
			<string>guilsinglleft.cap</string>
		</array>
		<key>public.kern1.guilsinglright</key>
		<array>
			<string>guillemotright</string>
			<string>guillemotright.cap</string>
			<string>guilsinglright</string>
			<string>guilsinglright.cap</string>
		</array>
		<key>public.kern1.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>figuredash</string>
			<string>horizontalbar</string>
			<string>hyphen.cap</string>
			<string>endash.cap</string>
			<string>emdash.cap</string>
			<string>horizontalbar.cap</string>
		</array>
		<key>public.kern1.hyphen.sups</key>
		<array>
			<string>emdash.sups</string>
			<string>endash.sups</string>
			<string>hyphen.sups</string>
		</array>
		<key>public.kern1.less</key>
		<array>
			<string>less</string>
			<string>multiply</string>
		</array>
		<key>public.kern1.nine.lf</key>
		<array>
			<string>nine.lf</string>
			<string>nine.cap</string>
		</array>
		<key>public.kern1.one.lf</key>
		<array>
			<string>one.lf</string>
			<string>one.cap</string>
		</array>
		<key>public.kern1.parenleft</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
			<string>parenleft.cap</string>
			<string>bracketleft.cap</string>
			<string>braceleft.cap</string>
		</array>
		<key>public.kern1.parenright</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
			<string>parenright.cap</string>
			<string>bracketright.cap</string>
			<string>braceright.cap</string>
		</array>
		<key>public.kern1.periodcentered</key>
		<array>
			<string>periodcentered</string>
			<string>bullet</string>
		</array>
		<key>public.kern1.plus</key>
		<array>
			<string>asciitilde</string>
			<string>divide</string>
			<string>greater</string>
			<string>minus</string>
			<string>plus</string>
		</array>
		<key>public.kern1.quotedbl</key>
		<array>
			<string>quotedbl</string>
			<string>quotesingle</string>
		</array>
		<key>public.kern1.quoteleft</key>
		<array>
			<string>quotedblleft</string>
			<string>quoteleft</string>
		</array>
		<key>public.kern1.quoteright</key>
		<array>
			<string>quotedblright</string>
			<string>quoteright</string>
		</array>
		<key>public.kern1.registered</key>
		<array>
			<string>asterisk</string>
			<string>registered</string>
		</array>
		<key>public.kern1.seven.lf</key>
		<array>
			<string>seven.lf</string>
			<string>seven.cap</string>
		</array>
		<key>public.kern1.six.lf</key>
		<array>
			<string>six.lf</string>
			<string>six.cap</string>
		</array>
		<key>public.kern1.subs_figures</key>
		<array>
			<string>eight.subs</string>
			<string>five.subs</string>
			<string>four.subs</string>
			<string>nine.subs</string>
			<string>one.subs</string>
			<string>seven.subs</string>
			<string>six.subs</string>
			<string>three.subs</string>
			<string>two.subs</string>
			<string>zero.subs</string>
		</array>
		<key>public.kern1.sups_corner</key>
		<array>
			<string>u.sups</string>
			<string>d.sups</string>
			<string>f.sups</string>
			<string>h.sups</string>
			<string>i.sups</string>
			<string>k.sups</string>
			<string>l.sups</string>
			<string>m.sups</string>
			<string>n.sups</string>
			<string>t.sups</string>
			<string>x.sups</string>
			<string>a.sups</string>
			<string>z.sups</string>
			<string>ordfeminine</string>
		</array>
		<key>public.kern1.sups_figures</key>
		<array>
			<string>eight.sups</string>
			<string>five.sups</string>
			<string>four.sups</string>
			<string>nine.sups</string>
			<string>one.sups</string>
			<string>seven.sups</string>
			<string>six.sups</string>
			<string>three.sups</string>
			<string>two.sups</string>
			<string>zero.sups</string>
		</array>
		<key>public.kern1.sups_low</key>
		<array>
			<string>g.sups</string>
			<string>j.sups</string>
			<string>q.sups</string>
		</array>
		<key>public.kern1.sups_round</key>
		<array>
			<string>b.sups</string>
			<string>c.sups</string>
			<string>e.sups</string>
			<string>eacute.sups</string>
			<string>egrave.sups</string>
			<string>o.sups</string>
			<string>p.sups</string>
			<string>s.sups</string>
			<string>ordmasculine</string>
		</array>
		<key>public.kern1.sups_v</key>
		<array>
			<string>r.sups</string>
			<string>v.sups</string>
			<string>w.sups</string>
			<string>y.sups</string>
		</array>
		<key>public.kern1.trademark</key>
		<array>
			<string>servicemark</string>
			<string>trademark</string>
		</array>
		<key>public.kern1.two.lf</key>
		<array>
			<string>two.lf</string>
			<string>two.cap</string>
		</array>
		<key>public.kern1.zero.lf</key>
		<array>
			<string>zero.lf</string>
			<string>zero.lfslash</string>
			<string>zero.cap</string>
		</array>
		<key>public.kern2.LAT_A</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aring</string>
			<string>Aogonek</string>
		</array>
		<key>public.kern2.LAT_E</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>H</string>
			<string>I</string>
			<string>K</string>
			<string>L</string>
			<string>P</string>
			<string>R</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Ecaron</string>
			<string>Edieresis</string>
			<string>Emacron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Imacron</string>
			<string>Idotaccent</string>
			<string>Iogonek</string>
			<string>Kcommaaccent</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lcommaaccent</string>
			<string>Ldot</string>
			<string>Lslash</string>
			<string>Racute</string>
			<string>Rcaron</string>
			<string>Rcommaaccent</string>
			<string>Eth</string>
			<string>Thorn</string>
		</array>
		<key>public.kern2.LAT_J</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern2.LAT_M</key>
		<array>
			<string>M</string>
			<string>N</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ntilde</string>
			<string>Ncommaaccent</string>
			<string>Ndotaccent</string>
		</array>
		<key>public.kern2.LAT_O</key>
		<array>
			<string>C</string>
			<string>G</string>
			<string>O</string>
			<string>Q</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Omacron</string>
			<string>Ohungarumlaut</string>
			<string>Oslash</string>
			<string>OE</string>
		</array>
		<key>public.kern2.LAT_S</key>
		<array>
			<string>S</string>
			<string>Sacute</string>
			<string>Scaron</string>
			<string>Scedilla</string>
			<string>Scommaaccent</string>
		</array>
		<key>public.kern2.LAT_T</key>
		<array>
			<string>T</string>
			<string>Tcaron</string>
			<string>Tcedilla</string>
			<string>Tcommaaccent</string>
		</array>
		<key>public.kern2.LAT_U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
		</array>
		<key>public.kern2.LAT_W</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern2.LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern2.LAT_Z</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern2.LAT_a</key>
		<array>
			<string>a</string>
			<string>d</string>
			<string>q</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>amacron</string>
			<string>abreve</string>
			<string>aring</string>
			<string>aogonek</string>
			<string>ae</string>
			<string>dcaron</string>
			<string>dcroat</string>
		</array>
		<key>public.kern2.LAT_f</key>
		<array>
			<string>f</string>
			<string>f_b</string>
			<string>f_f</string>
			<string>f_h</string>
			<string>f_i</string>
			<string>f_j</string>
			<string>f_k</string>
			<string>f_l</string>
			<string>f_t</string>
			<string>f_f_b</string>
			<string>f_f_f</string>
			<string>f_f_h</string>
			<string>f_f_i</string>
			<string>f_f_j</string>
			<string>f_f_k</string>
			<string>f_f_l</string>
			<string>f_f_t</string>
		</array>
		<key>public.kern2.LAT_g</key>
		<array>
			<string>g</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
			<string>gcommaaccent</string>
		</array>
		<key>public.kern2.LAT_germandbls</key>
		<array>
			<string>germandbls</string>
			<string>longs</string>
		</array>
		<key>public.kern2.LAT_h</key>
		<array>
			<string>b</string>
			<string>h</string>
			<string>k</string>
			<string>l</string>
			<string>kcommaaccent</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lcommaaccent</string>
			<string>ldot</string>
			<string>lslash</string>
		</array>
		<key>public.kern2.LAT_i</key>
		<array>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>iogonek</string>
			<string>i.trk</string>
		</array>
		<key>public.kern2.LAT_icircumflex</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>imacron</string>
		</array>
		<key>public.kern2.LAT_j</key>
		<array>
			<string>j</string>
			<string>dotlessj</string>
		</array>
		<key>public.kern2.LAT_m</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>r</string>
			<string>dotlessi</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>ntilde</string>
			<string>ncommaaccent</string>
			<string>ndotaccent</string>
			<string>racute</string>
			<string>rcommaaccent</string>
			<string>rcaron</string>
		</array>
		<key>public.kern2.LAT_o</key>
		<array>
			<string>c</string>
			<string>e</string>
			<string>o</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>ecaron</string>
			<string>edieresis</string>
			<string>emacron</string>
			<string>edotaccent</string>
			<string>eogonek</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>omacron</string>
			<string>ohungarumlaut</string>
			<string>oslash</string>
			<string>oe</string>
			<string>eth</string>
		</array>
		<key>public.kern2.LAT_s</key>
		<array>
			<string>s</string>
			<string>sacute</string>
			<string>scaron</string>
			<string>scedilla</string>
			<string>scommaaccent</string>
		</array>
		<key>public.kern2.LAT_t</key>
		<array>
			<string>t</string>
			<string>tcaron</string>
			<string>tcedilla</string>
			<string>tcommaaccent</string>
		</array>
		<key>public.kern2.LAT_u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>umacron</string>
			<string>uring</string>
			<string>uhungarumlaut</string>
			<string>uogonek</string>
		</array>
		<key>public.kern2.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
		</array>
		<key>public.kern2.LAT_y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
		</array>
		<key>public.kern2.LAT_z</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern2.colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern2.comma</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern2.comma.sups</key>
		<array>
			<string>comma.sups</string>
			<string>period.sups</string>
		</array>
		<key>public.kern2.copyright</key>
		<array>
			<string>copyright</string>
			<string>soundcopyright</string>
		</array>
		<key>public.kern2.eight.lf</key>
		<array>
			<string>eight.lf</string>
			<string>eight.cap</string>
		</array>
		<key>public.kern2.equal</key>
		<array>
			<string>equal</string>
			<string>notequal</string>
			<string>approxequal</string>
		</array>
		<key>public.kern2.five.lf</key>
		<array>
			<string>five.lf</string>
			<string>five.cap</string>
		</array>
		<key>public.kern2.four.lf</key>
		<array>
			<string>four.lf</string>
			<string>four.cap</string>
		</array>
		<key>public.kern2.fractions</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
			<string>onethird</string>
			<string>twothirds</string>
			<string>oneeighth</string>
			<string>threeeighths</string>
			<string>fiveeighths</string>
			<string>seveneighths</string>
		</array>
		<key>public.kern2.greater</key>
		<array>
			<string>multiply</string>
			<string>greater</string>
		</array>
		<key>public.kern2.guilsinglleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
			<string>guilsinglleft.cap</string>
			<string>guillemotleft.cap</string>
		</array>
		<key>public.kern2.guilsinglright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
			<string>guilsinglright.cap</string>
			<string>guillemotright.cap</string>
		</array>
		<key>public.kern2.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>figuredash</string>
			<string>horizontalbar</string>
			<string>hyphen.cap</string>
			<string>endash.cap</string>
			<string>emdash.cap</string>
			<string>horizontalbar.cap</string>
		</array>
		<key>public.kern2.hyphen.sups</key>
		<array>
			<string>emdash.sups</string>
			<string>endash.sups</string>
			<string>hyphen.sups</string>
		</array>
		<key>public.kern2.nine.lf</key>
		<array>
			<string>nine.lf</string>
			<string>nine.cap</string>
		</array>
		<key>public.kern2.one.lf</key>
		<array>
			<string>one.lf</string>
			<string>one.cap</string>
		</array>
		<key>public.kern2.parenleft</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
			<string>parenleft.cap</string>
			<string>bracketleft.cap</string>
			<string>braceleft.cap</string>
		</array>
		<key>public.kern2.parenright</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
			<string>parenright.cap</string>
			<string>bracketright.cap</string>
			<string>braceright.cap</string>
		</array>
		<key>public.kern2.periodcentered</key>
		<array>
			<string>periodcentered</string>
			<string>bullet</string>
		</array>
		<key>public.kern2.plus</key>
		<array>
			<string>plus</string>
			<string>minus</string>
			<string>divide</string>
			<string>less</string>
			<string>asciitilde</string>
			<string>logicalnot</string>
		</array>
		<key>public.kern2.quotedbl</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern2.quoteleft</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern2.quoteright</key>
		<array>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern2.registered</key>
		<array>
			<string>asterisk</string>
			<string>registered</string>
		</array>
		<key>public.kern2.seven.lf</key>
		<array>
			<string>seven.lf</string>
			<string>seven.cap</string>
		</array>
		<key>public.kern2.six.lf</key>
		<array>
			<string>six.lf</string>
			<string>six.cap</string>
		</array>
		<key>public.kern2.subs_figures</key>
		<array>
			<string>zero.subs</string>
			<string>one.subs</string>
			<string>two.subs</string>
			<string>three.subs</string>
			<string>four.subs</string>
			<string>five.subs</string>
			<string>six.subs</string>
			<string>seven.subs</string>
			<string>eight.subs</string>
			<string>nine.subs</string>
		</array>
		<key>public.kern2.sups_corner</key>
		<array>
			<string>b.sups</string>
			<string>h.sups</string>
			<string>i.sups</string>
			<string>k.sups</string>
			<string>l.sups</string>
			<string>m.sups</string>
			<string>n.sups</string>
			<string>r.sups</string>
			<string>x.sups</string>
			<string>z.sups</string>
		</array>
		<key>public.kern2.sups_desc</key>
		<array>
			<string>f.sups</string>
			<string>g.sups</string>
			<string>j.sups</string>
			<string>p.sups</string>
			<string>y.sups</string>
		</array>
		<key>public.kern2.sups_diag</key>
		<array>
			<string>v.sups</string>
			<string>w.sups</string>
		</array>
		<key>public.kern2.sups_figures</key>
		<array>
			<string>zero.sups</string>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
			<string>four.sups</string>
			<string>five.sups</string>
			<string>six.sups</string>
			<string>seven.sups</string>
			<string>eight.sups</string>
			<string>nine.sups</string>
		</array>
		<key>public.kern2.sups_round</key>
		<array>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
			<string>a.sups</string>
			<string>c.sups</string>
			<string>d.sups</string>
			<string>e.sups</string>
			<string>o.sups</string>
			<string>q.sups</string>
			<string>s.sups</string>
			<string>t.sups</string>
			<string>u.sups</string>
			<string>egrave.sups</string>
			<string>eacute.sups</string>
		</array>
		<key>public.kern2.three.lf</key>
		<array>
			<string>three.lf</string>
			<string>three.cap</string>
		</array>
		<key>public.kern2.trademark</key>
		<array>
			<string>trademark</string>
			<string>servicemark</string>
		</array>
		<key>public.kern2.two.lf</key>
		<array>
			<string>two.lf</string>
			<string>two.cap</string>
		</array>
		<key>public.kern2.zero.lf</key>
		<array>
			<string>zero.lf</string>
			<string>zero.lfslash</string>
			<string>zero.cap</string>
		</array>
		<key>punc</key>
		<array>
			<string>underscore</string>
			<string>hyphen</string>
			<string>figuredash</string>
			<string>endash</string>
			<string>emdash</string>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
			<string>guillemotleft</string>
			<string>quoteleft</string>
			<string>quotedblleft</string>
			<string>guilsinglleft</string>
			<string>guillemotright</string>
			<string>quoteright</string>
			<string>quotedblright</string>
			<string>guilsinglright</string>
			<string>exclam</string>
			<string>quotedbl</string>
			<string>numbersign</string>
			<string>ampersand</string>
			<string>quotesingle</string>
			<string>asterisk</string>
			<string>comma</string>
			<string>period</string>
			<string>slash</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>question</string>
			<string>at</string>
			<string>backslash</string>
			<string>exclamdown</string>
			<string>periodcentered</string>
			<string>questiondown</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>bullet</string>
			<string>ellipsis</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>servicemark</string>
			<string>soundcopyright</string>
			<string>horizontalbar</string>
		</array>
		<key>subs</key>
		<array>
			<string>zero.subs</string>
			<string>one.subs</string>
			<string>two.subs</string>
			<string>three.subs</string>
			<string>four.subs</string>
			<string>five.subs</string>
			<string>six.subs</string>
			<string>seven.subs</string>
			<string>eight.subs</string>
			<string>nine.subs</string>
			<string>parenleft.subs</string>
			<string>parenright.subs</string>
			<string>comma.subs</string>
			<string>period.subs</string>
			<string>bracketleft.subs</string>
			<string>bracketright.subs</string>
		</array>
		<key>sups</key>
		<array>
			<string>a.sups</string>
			<string>b.sups</string>
			<string>c.sups</string>
			<string>d.sups</string>
			<string>e.sups</string>
			<string>egrave.sups</string>
			<string>eacute.sups</string>
			<string>f.sups</string>
			<string>g.sups</string>
			<string>h.sups</string>
			<string>i.sups</string>
			<string>j.sups</string>
			<string>k.sups</string>
			<string>l.sups</string>
			<string>m.sups</string>
			<string>n.sups</string>
			<string>o.sups</string>
			<string>p.sups</string>
			<string>q.sups</string>
			<string>r.sups</string>
			<string>s.sups</string>
			<string>t.sups</string>
			<string>u.sups</string>
			<string>v.sups</string>
			<string>w.sups</string>
			<string>x.sups</string>
			<string>y.sups</string>
			<string>z.sups</string>
			<string>zero.sups</string>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
			<string>four.sups</string>
			<string>five.sups</string>
			<string>six.sups</string>
			<string>seven.sups</string>
			<string>eight.sups</string>
			<string>nine.sups</string>
			<string>hyphen.sups</string>
			<string>endash.sups</string>
			<string>emdash.sups</string>
			<string>parenleft.sups</string>
			<string>parenright.sups</string>
			<string>comma.sups</string>
			<string>period.sups</string>
			<string>colon.sups</string>
			<string>bracketleft.sups</string>
			<string>bracketright.sups</string>
		</array>
		<key>uc</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>AE</string>
			<string>Ccedilla</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Eth</string>
			<string>Ntilde</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Yacute</string>
			<string>Thorn</string>
			<string>Amacron</string>
			<string>Abreve</string>
			<string>Aogonek</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Dcaron</string>
			<string>Dcroat</string>
			<string>Emacron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Ecaron</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Gcommaaccent</string>
			<string>Imacron</string>
			<string>Iogonek</string>
			<string>Idotaccent</string>
			<string>Kcommaaccent</string>
			<string>Lacute</string>
			<string>Lcommaaccent</string>
			<string>Lcaron</string>
			<string>Ldot</string>
			<string>Lslash</string>
			<string>Nacute</string>
			<string>Ncommaaccent</string>
			<string>Ncaron</string>
			<string>Omacron</string>
			<string>Ohungarumlaut</string>
			<string>OE</string>
			<string>Racute</string>
			<string>Rcommaaccent</string>
			<string>Rcaron</string>
			<string>Sacute</string>
			<string>Scedilla</string>
			<string>Scaron</string>
			<string>Tcedilla</string>
			<string>Tcaron</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>Uhungarumlaut</string>
			<string>Uogonek</string>
			<string>Ydieresis</string>
			<string>Zacute</string>
			<string>Zdotaccent</string>
			<string>Zcaron</string>
			<string>Scommaaccent</string>
			<string>Tcommaaccent</string>
			<string>Ndotaccent</string>
			<string>Omega.math</string>
		</array>
	</dict>
</plist>
