<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>M</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ndotaccent</string>
		<string>Ncommaaccent</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tcedilla</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>p</string>
		<string>thorn</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_L_comma.sups</key>
	<array>
		<string>comma.sups</string>
		<string>period.sups</string>
	</array>
	<key>@MMK_L_copyright</key>
	<array>
		<string>copyright</string>
		<string>soundcopyright</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_eight.lf</key>
	<array>
		<string>eight.lf</string>
		<string>eight.osf</string>
		<string>three.lf</string>
	</array>
	<key>@MMK_L_equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>logicalnot</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>longs</string>
	</array>
	<key>@MMK_L_fractions</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>percent</string>
		<string>threequarters</string>
		<string>perthousand</string>
		<string>fiveeighths</string>
		<string>oneeighth</string>
		<string>onethird</string>
		<string>seveneighths</string>
		<string>threeeighths</string>
		<string>twothirds</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft</string>
		<string>guilsinglleft.cap</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guillemotright.cap</string>
		<string>guilsinglright</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>@MMK_L_h</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>ndotaccent</string>
		<string>ncommaaccent</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>horizontalbar</string>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>horizontalbar.cap</string>
		<string>hyphen.cap</string>
		<string>figuredash</string>
	</array>
	<key>@MMK_L_hyphen.sups</key>
	<array>
		<string>emdash.sups</string>
		<string>endash.sups</string>
		<string>hyphen.sups</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>dotlessi</string>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>f_i</string>
		<string>i.trk</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lslash</string>
		<string>f_l</string>
		<string>lcommaaccent</string>
	</array>
	<key>@MMK_L_less</key>
	<array>
		<string>less</string>
		<string>multiply</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>braceleft</string>
		<string>braceleft.cap</string>
		<string>bracketleft</string>
		<string>bracketleft.cap</string>
		<string>parenleft</string>
		<string>parenleft.cap</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>braceright</string>
		<string>braceright.cap</string>
		<string>bracketright</string>
		<string>bracketright.cap</string>
		<string>parenright</string>
		<string>parenright.cap</string>
	</array>
	<key>@MMK_L_periodcentered</key>
	<array>
		<string>bulletoperator</string>
		<string>periodcentered</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>asciitilde</string>
		<string>divide</string>
		<string>greater</string>
		<string>minus</string>
		<string>plus</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesinglbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_registered</key>
	<array>
		<string>asterisk</string>
		<string>registered</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_six.lf</key>
	<array>
		<string>six.lf</string>
		<string>six.osf</string>
	</array>
	<key>@MMK_L_subs_figures</key>
	<array>
		<string>eight.subs</string>
		<string>five.subs</string>
		<string>four.subs</string>
		<string>nine.subs</string>
		<string>one.subs</string>
		<string>seven.subs</string>
		<string>six.subs</string>
		<string>three.subs</string>
		<string>two.subs</string>
		<string>zero.subs</string>
	</array>
	<key>@MMK_L_sups_figures</key>
	<array>
		<string>eight.sups</string>
		<string>five.sups</string>
		<string>four.sups</string>
		<string>nine.sups</string>
		<string>one.sups</string>
		<string>seven.sups</string>
		<string>six.sups</string>
		<string>three.sups</string>
		<string>two.sups</string>
		<string>zero.sups</string>
	</array>
	<key>@MMK_L_sups_low</key>
	<array>
		<string>g.sups</string>
		<string>j.sups</string>
		<string>q.sups</string>
	</array>
	<key>@MMK_L_sups_round</key>
	<array>
		<string>a.sups</string>
		<string>b.sups</string>
		<string>c.sups</string>
		<string>e.sups</string>
		<string>eacute.sups</string>
		<string>egrave.sups</string>
		<string>h.sups</string>
		<string>k.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>p.sups</string>
		<string>s.sups</string>
		<string>u.sups</string>
		<string>z.sups</string>
		<string>x.sups</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_sups_tall</key>
	<array>
		<string>d.sups</string>
		<string>f.sups</string>
		<string>i.sups</string>
		<string>l.sups</string>
		<string>t.sups</string>
	</array>
	<key>@MMK_L_sups_v</key>
	<array>
		<string>r.sups</string>
		<string>v.sups</string>
		<string>w.sups</string>
		<string>y.sups</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tcedilla</string>
		<string>f_t</string>
	</array>
	<key>@MMK_L_trademark</key>
	<array>
		<string>servicemark</string>
		<string>trademark</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zero.lf</key>
	<array>
		<string>zero.lf</string>
		<string>zero.lfslash</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_E</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>Lcommaaccent</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ndotaccent</string>
		<string>Ncommaaccent</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tcedilla</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
	</array>
	<key>@MMK_R_comma.sups</key>
	<array>
		<string>comma.sups</string>
		<string>period.sups</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
		<string>soundcopyright</string>
	</array>
	<key>@MMK_R_eight.lf</key>
	<array>
		<string>eight.lf</string>
		<string>eight.osf</string>
	</array>
	<key>@MMK_R_equal</key>
	<array>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_t</string>
	</array>
	<key>@MMK_R_fractions</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>threequarters</string>
		<string>fiveeighths</string>
		<string>oneeighth</string>
		<string>onethird</string>
		<string>seveneighths</string>
		<string>threeeighths</string>
		<string>twothirds</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_greater</key>
	<array>
		<string>greater</string>
		<string>multiply</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft</string>
		<string>guilsinglleft.cap</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guillemotright.cap</string>
		<string>guilsinglright</string>
		<string>guilsinglright.cap</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>h</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>b</string>
		<string>lcommaaccent</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>horizontalbar</string>
		<string>emdash.cap</string>
		<string>endash.cap</string>
		<string>horizontalbar.cap</string>
		<string>hyphen.cap</string>
		<string>figuredash</string>
	</array>
	<key>@MMK_R_hyphen.sups</key>
	<array>
		<string>emdash.sups</string>
		<string>endash.sups</string>
		<string>hyphen.sups</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>iogonek</string>
		<string>i.trk</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>@MMK_R_m</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>ndotaccent</string>
		<string>ncommaaccent</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>braceleft</string>
		<string>braceleft.cap</string>
		<string>bracketleft</string>
		<string>bracketleft.cap</string>
		<string>parenleft</string>
		<string>parenleft.cap</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>braceright</string>
		<string>braceright.cap</string>
		<string>bracketright</string>
		<string>bracketright.cap</string>
		<string>parenright</string>
		<string>parenright.cap</string>
	</array>
	<key>@MMK_R_periodcentered</key>
	<array>
		<string>bulletoperator</string>
		<string>periodcentered</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>asciitilde</string>
		<string>divide</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>plus</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesinglbase</key>
	<array>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>asterisk</string>
		<string>registered</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_six.lf</key>
	<array>
		<string>six.lf</string>
		<string>six.osf</string>
	</array>
	<key>@MMK_R_subs_figures</key>
	<array>
		<string>eight.subs</string>
		<string>five.subs</string>
		<string>four.subs</string>
		<string>nine.subs</string>
		<string>one.subs</string>
		<string>seven.subs</string>
		<string>six.subs</string>
		<string>three.subs</string>
		<string>two.subs</string>
		<string>zero.subs</string>
	</array>
	<key>@MMK_R_sups_corner</key>
	<array>
		<string>b.sups</string>
		<string>f.sups</string>
		<string>h.sups</string>
		<string>i.sups</string>
		<string>k.sups</string>
		<string>l.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>r.sups</string>
		<string>x.sups</string>
		<string>z.sups</string>
	</array>
	<key>@MMK_R_sups_desc</key>
	<array>
		<string>g.sups</string>
		<string>p.sups</string>
		<string>y.sups</string>
	</array>
	<key>@MMK_R_sups_diag</key>
	<array>
		<string>v.sups</string>
		<string>w.sups</string>
	</array>
	<key>@MMK_R_sups_figures</key>
	<array>
		<string>eight.sups</string>
		<string>five.sups</string>
		<string>four.sups</string>
		<string>nine.sups</string>
		<string>one.sups</string>
		<string>seven.sups</string>
		<string>six.sups</string>
		<string>three.sups</string>
		<string>two.sups</string>
		<string>zero.sups</string>
	</array>
	<key>@MMK_R_sups_round</key>
	<array>
		<string>a.sups</string>
		<string>c.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>eacute.sups</string>
		<string>egrave.sups</string>
		<string>o.sups</string>
		<string>q.sups</string>
		<string>s.sups</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>u.sups</string>
		<string>t.sups</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tcedilla</string>
	</array>
	<key>@MMK_R_trademark</key>
	<array>
		<string>servicemark</string>
		<string>trademark</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero.lf</key>
	<array>
		<string>zero.lf</string>
		<string>zero.lfslash</string>
	</array>
	<key>cap_punc</key>
	<array>
		<string>hyphen.cap</string>
		<string>endash.cap</string>
		<string>emdash.cap</string>
		<string>parenleft.cap</string>
		<string>bracketleft.cap</string>
		<string>braceleft.cap</string>
		<string>parenright.cap</string>
		<string>bracketright.cap</string>
		<string>braceright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guilsinglleft.cap</string>
		<string>guillemotright.cap</string>
		<string>guilsinglright.cap</string>
		<string>at.cap</string>
		<string>exclamdown.cap</string>
		<string>questiondown.cap</string>
		<string>horizontalbar.cap</string>
	</array>
	<key>currency</key>
	<array>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Euro</string>
		<string>liraturkish</string>
		<string>rupeeindian</string>
		<string>florin</string>
	</array>
	<key>fig_prop</key>
	<array>
		<string>eight.osf</string>
		<string>five.osf</string>
		<string>four.osf</string>
		<string>nine.osf</string>
		<string>one.osf</string>
		<string>seven.osf</string>
		<string>six.osf</string>
		<string>three.osf</string>
		<string>two.osf</string>
		<string>zero.osf</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
	</array>
	<key>lc</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dcroat</string>
		<string>dotlessi</string>
		<string>lslash</string>
		<string>oe</string>
		<string>longs</string>
		<string>ndotaccent</string>
	</array>
	<key>lf</key>
	<array>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
	</array>
	<key>math</key>
	<array>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>minus</string>
		<string>bulletoperator</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
	</array>
	<key>osf</key>
	<array>
		<string>eight.osf</string>
		<string>five.osf</string>
		<string>four.osf</string>
		<string>nine.osf</string>
		<string>one.osf</string>
		<string>seven.osf</string>
		<string>six.osf</string>
		<string>three.osf</string>
		<string>two.osf</string>
		<string>zero.osf</string>
	</array>
	<key>punc</key>
	<array>
		<string>underscore</string>
		<string>hyphen</string>
		<string>figuredash</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>guillemotleft</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>guilsinglleft</string>
		<string>guillemotright</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>guilsinglright</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>servicemark</string>
		<string>soundcopyright</string>
		<string>horizontalbar</string>
	</array>
	<key>subs</key>
	<array>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>parenleft.subs</string>
		<string>parenright.subs</string>
		<string>comma.subs</string>
		<string>period.subs</string>
	</array>
	<key>sups</key>
	<array>
		<string>a.sups</string>
		<string>b.sups</string>
		<string>c.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>egrave.sups</string>
		<string>eacute.sups</string>
		<string>f.sups</string>
		<string>g.sups</string>
		<string>h.sups</string>
		<string>i.sups</string>
		<string>j.sups</string>
		<string>k.sups</string>
		<string>l.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>p.sups</string>
		<string>q.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>u.sups</string>
		<string>v.sups</string>
		<string>w.sups</string>
		<string>x.sups</string>
		<string>y.sups</string>
		<string>z.sups</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
		<string>hyphen.sups</string>
		<string>endash.sups</string>
		<string>emdash.sups</string>
		<string>parenleft.sups</string>
		<string>parenright.sups</string>
		<string>comma.sups</string>
		<string>period.sups</string>
		<string>colon.sups</string>
	</array>
	<key>uc</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Lslash</string>
		<string>OE</string>
		<string>Ndotaccent</string>
	</array>
</dict>
</plist>
