<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.Source Sans Pro ExtraLight.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.Source Sans Pro ExtraLight.layerShowFill</key>
	<true/>
	<key>com.typemytype.robofont.Source Sans Pro ExtraLight.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.Source Sans Pro ExtraLight.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.Source Sans Pro ExtraLight.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.05</real>
	</array>
	<key>com.typemytype.robofont.background.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowPoints</key>
	<false/>
	<key>com.typemytype.robofont.background.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.1685</real>
		<real>0.7777</real>
		<real>1.0</real>
		<real>1.0</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.9957480216157037</real>
		<real>0.0</real>
		<real>1.0</real>
		<real>0.7000000000000001</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>2</integer>
			<key>name</key>
			<string>m</string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>317</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>2</integer>
			<key>name</key>
			<string>figure height</string>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>652</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>showMeasurements</key>
			<integer>1</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>577</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>823</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>2</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>173</integer>
			<key>y</key>
			<integer>832</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>682</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>2</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>430</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>2</integer>
			<key>name</key>
			<string>math middle</string>
			<key>showMeasurements</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>336</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>other</string>
		<string>Source Sans Pro ExtraLight</string>
	</array>
	<key>com.typemytype.robofont.other.layerShowCoordinates</key>
	<false/>
	<key>com.typemytype.robofont.other.layerShowFill</key>
	<false/>
	<key>com.typemytype.robofont.other.layerShowPoints</key>
	<true/>
	<key>com.typemytype.robofont.other.layerShowStroke</key>
	<true/>
	<key>com.typemytype.robofont.other.layerStrokeColor</key>
	<array>
		<real>0.9855</real>
		<real>0.3047</real>
		<real>0.4037</real>
		<real>0.5</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<false/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Amacron</string>
				<string>Abreve</string>
				<string>Aring</string>
				<string>Aogonek</string>
				<string>AE</string>
				<string>Ccedilla</string>
				<string>Cacute</string>
				<string>Ccaron</string>
				<string>Dcaron</string>
				<string>Dcroat</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Ecaron</string>
				<string>Edieresis</string>
				<string>Emacron</string>
				<string>Edotaccent</string>
				<string>Eogonek</string>
				<string>Gbreve</string>
				<string>Gdotaccent</string>
				<string>Gcommaaccent</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Imacron</string>
				<string>Idotaccent</string>
				<string>Iogonek</string>
				<string>Kcommaaccent</string>
				<string>Lacute</string>
				<string>Lcaron</string>
				<string>Ldot</string>
				<string>Lslash</string>
				<string>Nacute</string>
				<string>Ncaron</string>
				<string>Ntilde</string>
				<string>Ncommaaccent</string>
				<string>Ndotaccent</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>Omacron</string>
				<string>Ohungarumlaut</string>
				<string>Oslash</string>
				<string>OE</string>
				<string>Racute</string>
				<string>Rcaron</string>
				<string>Rcommaaccent</string>
				<string>Sacute</string>
				<string>Scaron</string>
				<string>Scedilla</string>
				<string>Scommaaccent</string>
				<string>Tcaron</string>
				<string>Tcedilla</string>
				<string>Tcommaaccent</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Umacron</string>
				<string>Uring</string>
				<string>Uhungarumlaut</string>
				<string>Uogonek</string>
				<string>Yacute</string>
				<string>Ydieresis</string>
				<string>Zacute</string>
				<string>Zcaron</string>
				<string>Zdotaccent</string>
				<string>Eth</string>
				<string>Thorn</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>amacron</string>
				<string>abreve</string>
				<string>aring</string>
				<string>aogonek</string>
				<string>ae</string>
				<string>ccedilla</string>
				<string>cacute</string>
				<string>ccaron</string>
				<string>dcaron</string>
				<string>dcroat</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>ecaron</string>
				<string>edieresis</string>
				<string>emacron</string>
				<string>edotaccent</string>
				<string>eogonek</string>
				<string>gbreve</string>
				<string>gdotaccent</string>
				<string>gcommaaccent</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>imacron</string>
				<string>iogonek</string>
				<string>i.trk</string>
				<string>dotlessi</string>
				<string>kcommaaccent</string>
				<string>lacute</string>
				<string>lcaron</string>
				<string>ldot</string>
				<string>lslash</string>
				<string>nacute</string>
				<string>ncaron</string>
				<string>ntilde</string>
				<string>ncommaaccent</string>
				<string>ndotaccent</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>omacron</string>
				<string>ohungarumlaut</string>
				<string>oslash</string>
				<string>oe</string>
				<string>racute</string>
				<string>rcommaaccent</string>
				<string>rcaron</string>
				<string>germandbls</string>
				<string>longs</string>
				<string>sacute</string>
				<string>scaron</string>
				<string>scedilla</string>
				<string>scommaaccent</string>
				<string>tcaron</string>
				<string>tcedilla</string>
				<string>tcommaaccent</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>umacron</string>
				<string>uring</string>
				<string>uhungarumlaut</string>
				<string>uogonek</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>zacute</string>
				<string>zcaron</string>
				<string>zdotaccent</string>
				<string>eth</string>
				<string>thorn</string>
				<string>f_i</string>
				<string>f_l</string>
				<string>f_t</string>
				<string>ampersand</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero.slash</string>
				<string>zero.lf</string>
				<string>one.lf</string>
				<string>two.lf</string>
				<string>three.lf</string>
				<string>four.lf</string>
				<string>five.lf</string>
				<string>six.lf</string>
				<string>seven.lf</string>
				<string>eight.lf</string>
				<string>nine.lf</string>
				<string>zero.lfslash</string>
				<string>zero.tosf</string>
				<string>one.tosf</string>
				<string>two.tosf</string>
				<string>three.tosf</string>
				<string>four.tosf</string>
				<string>five.tosf</string>
				<string>six.tosf</string>
				<string>seven.tosf</string>
				<string>eight.tosf</string>
				<string>nine.tosf</string>
				<string>zero.osf</string>
				<string>one.osf</string>
				<string>two.osf</string>
				<string>three.osf</string>
				<string>four.osf</string>
				<string>five.osf</string>
				<string>six.osf</string>
				<string>seven.osf</string>
				<string>eight.osf</string>
				<string>nine.osf</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>exclamdown</string>
				<string>exclamdown.cap</string>
				<string>question</string>
				<string>questiondown</string>
				<string>questiondown.cap</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>hyphen</string>
				<string>sfthyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>figuredash</string>
				<string>horizontalbar</string>
				<string>periodcentered</string>
				<string>bullet</string>
				<string>underscore</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>guilsinglleft.cap</string>
				<string>guilsinglright.cap</string>
				<string>guillemotleft.cap</string>
				<string>guillemotright.cap</string>
				<string>hyphen.cap</string>
				<string>sfthyphen.cap</string>
				<string>endash.cap</string>
				<string>emdash.cap</string>
				<string>horizontalbar.cap</string>
				<string>parenleft.cap</string>
				<string>parenright.cap</string>
				<string>bracketleft.cap</string>
				<string>bracketright.cap</string>
				<string>braceleft.cap</string>
				<string>braceright.cap</string>
				<string>slash</string>
				<string>bar</string>
				<string>backslash</string>
				<string>brokenbar</string>
				<string>asterisk</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>section</string>
				<string>paragraph</string>
				<string>copyright</string>
				<string>soundcopyright</string>
				<string>registered</string>
				<string>trademark</string>
				<string>servicemark</string>
				<string>at</string>
				<string>at.cap</string>
				<string>numbersign</string>
				<string>zero.sups</string>
				<string>one.sups</string>
				<string>two.sups</string>
				<string>three.sups</string>
				<string>four.sups</string>
				<string>five.sups</string>
				<string>six.sups</string>
				<string>seven.sups</string>
				<string>eight.sups</string>
				<string>nine.sups</string>
				<string>parenleft.sups</string>
				<string>parenright.sups</string>
				<string>period.sups</string>
				<string>comma.sups</string>
				<string>colon.sups</string>
				<string>hyphen.sups</string>
				<string>endash.sups</string>
				<string>emdash.sups</string>
				<string>zero.subs</string>
				<string>one.subs</string>
				<string>two.subs</string>
				<string>three.subs</string>
				<string>four.subs</string>
				<string>five.subs</string>
				<string>six.subs</string>
				<string>seven.subs</string>
				<string>eight.subs</string>
				<string>nine.subs</string>
				<string>parenleft.subs</string>
				<string>parenright.subs</string>
				<string>period.subs</string>
				<string>comma.subs</string>
				<string>zero.dnom</string>
				<string>one.dnom</string>
				<string>two.dnom</string>
				<string>three.dnom</string>
				<string>four.dnom</string>
				<string>five.dnom</string>
				<string>six.dnom</string>
				<string>seven.dnom</string>
				<string>eight.dnom</string>
				<string>nine.dnom</string>
				<string>parenleft.dnom</string>
				<string>parenright.dnom</string>
				<string>period.dnom</string>
				<string>comma.dnom</string>
				<string>zero.numr</string>
				<string>one.numr</string>
				<string>two.numr</string>
				<string>three.numr</string>
				<string>four.numr</string>
				<string>five.numr</string>
				<string>six.numr</string>
				<string>seven.numr</string>
				<string>eight.numr</string>
				<string>nine.numr</string>
				<string>parenleft.numr</string>
				<string>parenright.numr</string>
				<string>period.numr</string>
				<string>comma.numr</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>a.sups</string>
				<string>b.sups</string>
				<string>c.sups</string>
				<string>d.sups</string>
				<string>e.sups</string>
				<string>f.sups</string>
				<string>g.sups</string>
				<string>h.sups</string>
				<string>i.sups</string>
				<string>j.sups</string>
				<string>k.sups</string>
				<string>l.sups</string>
				<string>m.sups</string>
				<string>n.sups</string>
				<string>o.sups</string>
				<string>p.sups</string>
				<string>q.sups</string>
				<string>r.sups</string>
				<string>s.sups</string>
				<string>t.sups</string>
				<string>u.sups</string>
				<string>v.sups</string>
				<string>w.sups</string>
				<string>x.sups</string>
				<string>y.sups</string>
				<string>z.sups</string>
				<string>egrave.sups</string>
				<string>eacute.sups</string>
				<string>degree</string>
				<string>currency</string>
				<string>dollar</string>
				<string>sterling</string>
				<string>yen</string>
				<string>Euro</string>
				<string>cent</string>
				<string>florin</string>
				<string>rupeeindian</string>
				<string>liraturkish</string>
				<string>fraction</string>
				<string>divisionslash</string>
				<string>slash.frac</string>
				<string>nbspace</string>
				<string>figurespace</string>
				<string>space.frac</string>
				<string>nbspace.frac</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>onethird</string>
				<string>twothirds</string>
				<string>oneeighth</string>
				<string>threeeighths</string>
				<string>fiveeighths</string>
				<string>seveneighths</string>
				<string>plus</string>
				<string>minus</string>
				<string>multiply</string>
				<string>divide</string>
				<string>bulletoperator</string>
				<string>equal</string>
				<string>less</string>
				<string>greater</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>plusminus</string>
				<string>asciicircum</string>
				<string>notequal</string>
				<string>asciitilde</string>
				<string>approxequal</string>
				<string>logicalnot</string>
				<string>pi</string>
				<string>infinity</string>
				<string>mu.math</string>
				<string>partialdiff</string>
				<string>integral</string>
				<string>radical</string>
				<string>Delta.math</string>
				<string>Omega.math</string>
				<string>summation</string>
				<string>product</string>
				<string>litre</string>
				<string>estimated</string>
				<string>arrowleft</string>
				<string>arrowupleft</string>
				<string>arrowup</string>
				<string>arrowupright</string>
				<string>arrowright</string>
				<string>arrowdownright</string>
				<string>arrowdown</string>
				<string>arrowdownleft</string>
				<string>squareblack</string>
				<string>diamondblack</string>
				<string>fisheye</string>
				<string>squareshadow</string>
				<string>triangleblackup</string>
				<string>trianglewhiteup</string>
				<string>triangleblackright</string>
				<string>trianglewhiteright</string>
				<string>triangleblackdown</string>
				<string>trianglewhitedown</string>
				<string>triangleblackleft</string>
				<string>trianglewhiteleft</string>
				<string>checkbox</string>
				<string>checkedbox</string>
				<string>check</string>
				<string>eighthnote</string>
				<string>lozenge</string>
				<string>prime</string>
				<string>dblprime</string>
				<string>commaturnedmod</string>
				<string>apostrophemod</string>
				<string>grave</string>
				<string>acute</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>macronmod</string>
				<string>acutemod</string>
				<string>gravemod</string>
				<string>tilde</string>
				<string>dieresis</string>
				<string>macron</string>
				<string>breve</string>
				<string>ring</string>
				<string>hungarumlaut</string>
				<string>dotaccent</string>
				<string>cedilla</string>
				<string>caron.alt</string>
				<string>commabelowcmb.alt</string>
				<string>ogonek</string>
				<string>gravecmb</string>
				<string>gravecmb.cap</string>
				<string>acutecmb</string>
				<string>acutecmb.cap</string>
				<string>circumflexcmb</string>
				<string>circumflexcmb.cap</string>
				<string>tildecmb</string>
				<string>tildecmb.cap</string>
				<string>macroncmb</string>
				<string>macroncmb.cap</string>
				<string>brevecmb</string>
				<string>brevecmb.cap</string>
				<string>dotaccentcmb</string>
				<string>dotaccentcmb.cap</string>
				<string>dieresiscmb</string>
				<string>dieresiscmb.cap</string>
				<string>ringcmb</string>
				<string>ringcmb.cap</string>
				<string>hungarumlautcmb</string>
				<string>hungarumlautcmb.cap</string>
				<string>caroncmb</string>
				<string>caroncmb.cap</string>
				<string>commabelowcmb</string>
				<string>cedillacmb</string>
				<string>ogonekcmb</string>
				<string>Lcommaaccent</string>
				<string>lcommaaccent</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aring</string>
		<string>Aogonek</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Ecaron</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Idotaccent</string>
		<string>Iogonek</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Eth</string>
		<string>Thorn</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aring</string>
		<string>aogonek</string>
		<string>ae</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>ecaron</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>i.trk</string>
		<string>dotlessi</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>oslash</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>eth</string>
		<string>thorn</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_t</string>
		<string>ampersand</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.slash</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.lfslash</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>exclamdown.cap</string>
		<string>question</string>
		<string>questiondown</string>
		<string>questiondown.cap</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>hyphen</string>
		<string>sfthyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>horizontalbar</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>hyphen.cap</string>
		<string>sfthyphen.cap</string>
		<string>endash.cap</string>
		<string>emdash.cap</string>
		<string>horizontalbar.cap</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>slash</string>
		<string>bar</string>
		<string>backslash</string>
		<string>brokenbar</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>soundcopyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>servicemark</string>
		<string>at</string>
		<string>at.cap</string>
		<string>numbersign</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
		<string>parenleft.sups</string>
		<string>parenright.sups</string>
		<string>period.sups</string>
		<string>comma.sups</string>
		<string>colon.sups</string>
		<string>hyphen.sups</string>
		<string>endash.sups</string>
		<string>emdash.sups</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>parenleft.subs</string>
		<string>parenright.subs</string>
		<string>period.subs</string>
		<string>comma.subs</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>parenleft.dnom</string>
		<string>parenright.dnom</string>
		<string>period.dnom</string>
		<string>comma.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>parenleft.numr</string>
		<string>parenright.numr</string>
		<string>period.numr</string>
		<string>comma.numr</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>a.sups</string>
		<string>b.sups</string>
		<string>c.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>f.sups</string>
		<string>g.sups</string>
		<string>h.sups</string>
		<string>i.sups</string>
		<string>j.sups</string>
		<string>k.sups</string>
		<string>l.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>p.sups</string>
		<string>q.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>u.sups</string>
		<string>v.sups</string>
		<string>w.sups</string>
		<string>x.sups</string>
		<string>y.sups</string>
		<string>z.sups</string>
		<string>egrave.sups</string>
		<string>eacute.sups</string>
		<string>degree</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Euro</string>
		<string>cent</string>
		<string>florin</string>
		<string>rupeeindian</string>
		<string>liraturkish</string>
		<string>fraction</string>
		<string>divisionslash</string>
		<string>slash.frac</string>
		<string>nbspace</string>
		<string>figurespace</string>
		<string>space.frac</string>
		<string>nbspace.frac</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>bulletoperator</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>plusminus</string>
		<string>asciicircum</string>
		<string>notequal</string>
		<string>asciitilde</string>
		<string>approxequal</string>
		<string>logicalnot</string>
		<string>pi</string>
		<string>infinity</string>
		<string>mu.math</string>
		<string>partialdiff</string>
		<string>integral</string>
		<string>radical</string>
		<string>Delta.math</string>
		<string>Omega.math</string>
		<string>summation</string>
		<string>product</string>
		<string>litre</string>
		<string>estimated</string>
		<string>arrowleft</string>
		<string>arrowupleft</string>
		<string>arrowup</string>
		<string>arrowupright</string>
		<string>arrowright</string>
		<string>arrowdownright</string>
		<string>arrowdown</string>
		<string>arrowdownleft</string>
		<string>squareblack</string>
		<string>diamondblack</string>
		<string>fisheye</string>
		<string>squareshadow</string>
		<string>triangleblackup</string>
		<string>trianglewhiteup</string>
		<string>triangleblackright</string>
		<string>trianglewhiteright</string>
		<string>triangleblackdown</string>
		<string>trianglewhitedown</string>
		<string>triangleblackleft</string>
		<string>trianglewhiteleft</string>
		<string>checkbox</string>
		<string>checkedbox</string>
		<string>check</string>
		<string>eighthnote</string>
		<string>lozenge</string>
		<string>prime</string>
		<string>dblprime</string>
		<string>commaturnedmod</string>
		<string>apostrophemod</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>macronmod</string>
		<string>acutemod</string>
		<string>gravemod</string>
		<string>tilde</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>breve</string>
		<string>ring</string>
		<string>hungarumlaut</string>
		<string>dotaccent</string>
		<string>cedilla</string>
		<string>caron.alt</string>
		<string>commabelowcmb.alt</string>
		<string>ogonek</string>
		<string>gravecmb</string>
		<string>gravecmb.cap</string>
		<string>acutecmb</string>
		<string>acutecmb.cap</string>
		<string>circumflexcmb</string>
		<string>circumflexcmb.cap</string>
		<string>tildecmb</string>
		<string>tildecmb.cap</string>
		<string>macroncmb</string>
		<string>macroncmb.cap</string>
		<string>brevecmb</string>
		<string>brevecmb.cap</string>
		<string>dotaccentcmb</string>
		<string>dotaccentcmb.cap</string>
		<string>dieresiscmb</string>
		<string>dieresiscmb.cap</string>
		<string>ringcmb</string>
		<string>ringcmb.cap</string>
		<string>hungarumlautcmb</string>
		<string>hungarumlautcmb.cap</string>
		<string>caroncmb</string>
		<string>caroncmb.cap</string>
		<string>commabelowcmb</string>
		<string>cedillacmb</string>
		<string>ogonekcmb</string>
		<string>Lcommaaccent</string>
		<string>lcommaaccent</string>
	</array>
</dict>
</plist>
