<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>710</integer>
		<key>capHeight</key>
		<integer>652</integer>
		<key>copyright</key>
		<string>Copyright 2014 - 2020 Adobe Systems Incorporated (http://www.adobe.com/), with Reserved Font Name 'Source'.</string>
		<key>descender</key>
		<integer>-220</integer>
		<key>familyName</key>
		<string>Source Serif Pro Master</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>-12</integer>
		<key>openTypeOS2VendorID</key>
		<string>ADBO</string>
		<key>postscriptBlueFuzz</key>
		<integer>0</integer>
		<key>postscriptBlueScale</key>
		<real>0.0375</real>
		<key>postscriptBlueShift</key>
		<integer>7</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-16</integer>
			<integer>0</integer>
			<integer>516</integer>
			<integer>528</integer>
			<integer>539</integer>
			<integer>551</integer>
			<integer>556</integer>
			<integer>570</integer>
			<integer>628</integer>
			<integer>640</integer>
			<integer>652</integer>
			<integer>668</integer>
			<integer>710</integer>
			<integer>722</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
			<integer>-15</integer>
			<integer>0</integer>
			<integer>475</integer>
			<integer>488</integer>
			<integer>527</integer>
			<integer>540</integer>
			<integer>549</integer>
			<integer>562</integer>
			<integer>647</integer>
			<integer>660</integer>
			<integer>670</integer>
			<integer>685</integer>
			<integer>730</integer>
			<integer>750</integer>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
			<integer>-250</integer>
			<integer>-240</integer>
		</array>
		<key>postscriptFontName</key>
		<string>SourceSerifProMaster-ItalicCaption2</string>
		<key>postscriptForceBold</key>
		<false/>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-232</integer>
			<integer>-220</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>74</integer>
			<integer>60</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>190</integer>
			<integer>200</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-75</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>styleName</key>
		<string>Italic Caption 2</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>516</integer>
	</dict>
</plist>
