<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Abreve</key>
		<string>A_breve.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Acyr</key>
		<string>A_cyr.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Aie</key>
		<string>A_ie.glif</string>
		<key>Alpha</key>
		<string>A_lpha.glif</string>
		<key>Alphatonos</key>
		<string>A_lphatonos.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aogonek</key>
		<string>A_ogonek.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>Be</key>
		<string>B_e.glif</string>
		<key>Beta</key>
		<string>B_eta.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Cacute</key>
		<string>C_acute.glif</string>
		<key>Ccaron</key>
		<string>C_caron.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>Chi</key>
		<string>C_hi.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Dcaron</key>
		<string>D_caron.glif</string>
		<key>Dcroat</key>
		<string>D_croat.glif</string>
		<key>Delta</key>
		<string>D_elta.glif</string>
		<key>Delta.math</key>
		<string>D_elta.math.glif</string>
		<key>Dze</key>
		<string>D_ze.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>Ecaron</key>
		<string>E_caron.glif</string>
		<key>Ecircumflex</key>
		<string>E_circumflex.glif</string>
		<key>Edieresis</key>
		<string>E_dieresis.glif</string>
		<key>Edotaccent</key>
		<string>E_dotaccent.glif</string>
		<key>Egrave</key>
		<string>E_grave.glif</string>
		<key>El</key>
		<string>E_l.glif</string>
		<key>Em</key>
		<string>E_m.glif</string>
		<key>Emacron</key>
		<string>E_macron.glif</string>
		<key>En</key>
		<string>E_n.glif</string>
		<key>Eogonek</key>
		<string>E_ogonek.glif</string>
		<key>Epsilon</key>
		<string>E_psilon.glif</string>
		<key>Epsilontonos</key>
		<string>E_psilontonos.glif</string>
		<key>Er</key>
		<string>E_r.glif</string>
		<key>Es</key>
		<string>E_s.glif</string>
		<key>Eta</key>
		<string>E_ta.glif</string>
		<key>Etatonos</key>
		<string>E_tatonos.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gamma</key>
		<string>G_amma.glif</string>
		<key>Gbreve</key>
		<string>G_breve.glif</string>
		<key>Gcommaaccent</key>
		<string>G_commaaccent.glif</string>
		<key>Gdotaccent</key>
		<string>G_dotaccent.glif</string>
		<key>Ghe</key>
		<string>G_he.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Ha</key>
		<string>H_a.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>Icircumflex</key>
		<string>I_circumflex.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Idieresis</key>
		<string>I_dieresis.glif</string>
		<key>Idotaccent</key>
		<string>I_dotaccent.glif</string>
		<key>Ie</key>
		<string>I_e.glif</string>
		<key>Iegrave</key>
		<string>I_egrave.glif</string>
		<key>Igrave</key>
		<string>I_grave.glif</string>
		<key>Imacron</key>
		<string>I_macron.glif</string>
		<key>Io</key>
		<string>I_o.glif</string>
		<key>Iogonek</key>
		<string>I_ogonek.glif</string>
		<key>Iota</key>
		<string>I_ota.glif</string>
		<key>Iotadieresis</key>
		<string>I_otadieresis.glif</string>
		<key>Iotatonos</key>
		<string>I_otatonos.glif</string>
		<key>Ishort</key>
		<string>I_short.glif</string>
		<key>Iukran</key>
		<string>I_ukran.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>Je</key>
		<string>J_e.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>Ka</key>
		<string>K_a.glif</string>
		<key>Kappa</key>
		<string>K_appa.glif</string>
		<key>Kcommaaccent</key>
		<string>K_commaaccent.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lacute</key>
		<string>L_acute.glif</string>
		<key>Lambda</key>
		<string>L_ambda.glif</string>
		<key>Lcaron</key>
		<string>L_caron.glif</string>
		<key>Lcommaaccent</key>
		<string>L_commaaccent.glif</string>
		<key>Ldot</key>
		<string>L_dot.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>Mu</key>
		<string>M_u.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Nacute</key>
		<string>N_acute.glif</string>
		<key>Ncaron</key>
		<string>N_caron.glif</string>
		<key>Ncommaaccent</key>
		<string>N_commaaccent.glif</string>
		<key>Ndotaccent</key>
		<string>N_dotaccent.glif</string>
		<key>Ntilde</key>
		<string>N_tilde.glif</string>
		<key>Nu</key>
		<string>N_u.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Ocyr</key>
		<string>O_cyr.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Odieresiscyr</key>
		<string>O_dieresiscyr.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Ohungarumlaut</key>
		<string>O_hungarumlaut.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Omega</key>
		<string>O_mega.glif</string>
		<key>Omega.math</key>
		<string>O_mega.math.glif</string>
		<key>Omegatonos</key>
		<string>O_megatonos.glif</string>
		<key>Omicron</key>
		<string>O_micron.glif</string>
		<key>Omicrontonos</key>
		<string>O_microntonos.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Palochka</key>
		<string>P_alochka.glif</string>
		<key>Pe</key>
		<string>P_e.glif</string>
		<key>Phi</key>
		<string>P_hi.glif</string>
		<key>Pi</key>
		<string>P_i.glif</string>
		<key>Psi</key>
		<string>P_si.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Racute</key>
		<string>R_acute.glif</string>
		<key>Rcaron</key>
		<string>R_caron.glif</string>
		<key>Rcommaaccent</key>
		<string>R_commaaccent.glif</string>
		<key>Rho</key>
		<string>R_ho.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>Scaron</key>
		<string>S_caron.glif</string>
		<key>Scedilla</key>
		<string>S_cedilla.glif</string>
		<key>Scommaaccent</key>
		<string>S_commaaccent.glif</string>
		<key>Sigma</key>
		<string>S_igma.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tau</key>
		<string>T_au.glif</string>
		<key>Tcaron</key>
		<string>T_caron.glif</string>
		<key>Tcedilla</key>
		<string>T_cedilla.glif</string>
		<key>Tcommaaccent</key>
		<string>T_commaaccent.glif</string>
		<key>Te</key>
		<string>T_e.glif</string>
		<key>Theta</key>
		<string>T_heta.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>Ucircumflex</key>
		<string>U_circumflex.glif</string>
		<key>Udieresis</key>
		<string>U_dieresis.glif</string>
		<key>Ugrave</key>
		<string>U_grave.glif</string>
		<key>Uhungarumlaut</key>
		<string>U_hungarumlaut.glif</string>
		<key>Umacron</key>
		<string>U_macron.glif</string>
		<key>Uogonek</key>
		<string>U_ogonek.glif</string>
		<key>Upsilon</key>
		<string>U_psilon.glif</string>
		<key>Upsilondieresis</key>
		<string>U_psilondieresis.glif</string>
		<key>Upsilontonos</key>
		<string>U_psilontonos.glif</string>
		<key>Uring</key>
		<string>U_ring.glif</string>
		<key>Ustraight</key>
		<string>U_straight.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>Ve</key>
		<string>V_e.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Xi</key>
		<string>X_i.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Ydieresis</key>
		<string>Y_dieresis.glif</string>
		<key>Yi</key>
		<string>Y_i.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Zacute</key>
		<string>Z_acute.glif</string>
		<key>Zcaron</key>
		<string>Z_caron.glif</string>
		<key>Zdotaccent</key>
		<string>Z_dotaccent.glif</string>
		<key>Ze</key>
		<string>Z_e.glif</string>
		<key>Zeta</key>
		<string>Z_eta.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.sups</key>
		<string>a.sups.glif</string>
		<key>aacute</key>
		<string>aacute.glif</string>
		<key>abreve</key>
		<string>abreve.glif</string>
		<key>abrevecyr</key>
		<string>abrevecyr.glif</string>
		<key>acircumflex</key>
		<string>acircumflex.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acutecmb</key>
		<string>acutecmb.glif</string>
		<key>acutecmb.cap</key>
		<string>acutecmb.cap.glif</string>
		<key>acutemod</key>
		<string>acutemod.glif</string>
		<key>acyr</key>
		<string>acyr.glif</string>
		<key>adieresis</key>
		<string>adieresis.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>agrave</key>
		<string>agrave.glif</string>
		<key>aie</key>
		<string>aie.glif</string>
		<key>alpha</key>
		<string>alpha.glif</string>
		<key>alphatonos</key>
		<string>alphatonos.glif</string>
		<key>amacron</key>
		<string>amacron.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>ampersand.alt</key>
		<string>ampersand.alt.glif</string>
		<key>anoteleia</key>
		<string>anoteleia.glif</string>
		<key>anoteleia.cap</key>
		<string>anoteleia.cap.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>apostrophemod</key>
		<string>apostrophemod.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>aring</key>
		<string>aring.glif</string>
		<key>arrowdown</key>
		<string>arrowdown.glif</string>
		<key>arrowdownleft</key>
		<string>arrowdownleft.glif</string>
		<key>arrowdownright</key>
		<string>arrowdownright.glif</string>
		<key>arrowleft</key>
		<string>arrowleft.glif</string>
		<key>arrowright</key>
		<string>arrowright.glif</string>
		<key>arrowup</key>
		<string>arrowup.glif</string>
		<key>arrowupleft</key>
		<string>arrowupleft.glif</string>
		<key>arrowupright</key>
		<string>arrowupright.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>at.cap</key>
		<string>at.cap.glif</string>
		<key>atilde</key>
		<string>atilde.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>b.sups</key>
		<string>b.sups.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>beta</key>
		<string>beta.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceleft.cap</key>
		<string>braceleft.cap.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>braceright.cap</key>
		<string>braceright.cap.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketleft.cap</key>
		<string>bracketleft.cap.glif</string>
		<key>bracketleft.dnom</key>
		<string>bracketleft.dnom.glif</string>
		<key>bracketleft.numr</key>
		<string>bracketleft.numr.glif</string>
		<key>bracketleft.subs</key>
		<string>bracketleft.subs.glif</string>
		<key>bracketleft.sups</key>
		<string>bracketleft.sups.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>bracketright.cap</key>
		<string>bracketright.cap.glif</string>
		<key>bracketright.dnom</key>
		<string>bracketright.dnom.glif</string>
		<key>bracketright.numr</key>
		<string>bracketright.numr.glif</string>
		<key>bracketright.subs</key>
		<string>bracketright.subs.glif</string>
		<key>bracketright.sups</key>
		<string>bracketright.sups.glif</string>
		<key>breve</key>
		<string>breve.glif</string>
		<key>brevecmb</key>
		<string>brevecmb.glif</string>
		<key>brevecmb.cap</key>
		<string>brevecmb.cap.glif</string>
		<key>brevecmb.cyr</key>
		<string>brevecmb.cyr.glif</string>
		<key>brevecmb.cyrcap</key>
		<string>brevecmb.cyrcap.glif</string>
		<key>brokenbar</key>
		<string>brokenbar.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>bulletoperator</key>
		<string>bulletoperator.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>c.sups</key>
		<string>c.sups.glif</string>
		<key>cacute</key>
		<string>cacute.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>caron.alt</key>
		<string>caron.alt.glif</string>
		<key>caroncmb</key>
		<string>caroncmb.glif</string>
		<key>caroncmb.cap</key>
		<string>caroncmb.cap.glif</string>
		<key>ccaron</key>
		<string>ccaron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>cedillacmb</key>
		<string>cedillacmb.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>che</key>
		<string>che.glif</string>
		<key>check</key>
		<string>check.glif</string>
		<key>checkbox</key>
		<string>checkbox.glif</string>
		<key>checkedbox</key>
		<string>checkedbox.glif</string>
		<key>chi</key>
		<string>chi.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>circumflexcmb</key>
		<string>circumflexcmb.glif</string>
		<key>circumflexcmb.cap</key>
		<string>circumflexcmb.cap.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>colon.sups</key>
		<string>colon.sups.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>comma.dnom</key>
		<string>comma.dnom.glif</string>
		<key>comma.numr</key>
		<string>comma.numr.glif</string>
		<key>comma.subs</key>
		<string>comma.subs.glif</string>
		<key>comma.sups</key>
		<string>comma.sups.glif</string>
		<key>commabelowcmb</key>
		<string>commabelowcmb.glif</string>
		<key>commabelowcmb.alt</key>
		<string>commabelowcmb.alt.glif</string>
		<key>commaturnedmod</key>
		<string>commaturnedmod.glif</string>
		<key>commercemark</key>
		<string>commercemark.glif</string>
		<key>copyleft</key>
		<string>copyleft.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>d.sups</key>
		<string>d.sups.glif</string>
		<key>dagger</key>
		<string>dagger.glif</string>
		<key>daggerdbl</key>
		<string>daggerdbl.glif</string>
		<key>dblprime</key>
		<string>dblprime.glif</string>
		<key>dcaron</key>
		<string>dcaron.glif</string>
		<key>dcroat</key>
		<string>dcroat.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>degree</key>
		<string>degree.glif</string>
		<key>delta</key>
		<string>delta.glif</string>
		<key>deposeemark</key>
		<string>deposeemark.glif</string>
		<key>diamondblack</key>
		<string>diamondblack.glif</string>
		<key>dieresis</key>
		<string>dieresis.glif</string>
		<key>dieresiscmb</key>
		<string>dieresiscmb.glif</string>
		<key>dieresiscmb.cap</key>
		<string>dieresiscmb.cap.glif</string>
		<key>dieresistonos</key>
		<string>dieresistonos.glif</string>
		<key>dieresistonoscmb</key>
		<string>dieresistonoscmb.glif</string>
		<key>digamma</key>
		<string>digamma.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>divisionslash</key>
		<string>divisionslash.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dotaccent</key>
		<string>dotaccent.glif</string>
		<key>dotaccentcmb</key>
		<string>dotaccentcmb.glif</string>
		<key>dotaccentcmb.cap</key>
		<string>dotaccentcmb.cap.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>dotlessj</key>
		<string>dotlessj.glif</string>
		<key>dze</key>
		<string>dze.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.sups</key>
		<string>e.sups.glif</string>
		<key>eacute</key>
		<string>eacute.glif</string>
		<key>eacute.sups</key>
		<string>eacute.sups.glif</string>
		<key>ecaron</key>
		<string>ecaron.glif</string>
		<key>ecircumflex</key>
		<string>ecircumflex.glif</string>
		<key>ecyr</key>
		<string>ecyr.glif</string>
		<key>edieresis</key>
		<string>edieresis.glif</string>
		<key>edotaccent</key>
		<string>edotaccent.glif</string>
		<key>ef</key>
		<string>ef.glif</string>
		<key>egrave</key>
		<string>egrave.glif</string>
		<key>egrave.sups</key>
		<string>egrave.sups.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.cap</key>
		<string>eight.cap.glif</string>
		<key>eight.dnom</key>
		<string>eight.dnom.glif</string>
		<key>eight.lf</key>
		<string>eight.lf.glif</string>
		<key>eight.numr</key>
		<string>eight.numr.glif</string>
		<key>eight.osf</key>
		<string>eight.osf.glif</string>
		<key>eight.subs</key>
		<string>eight.subs.glif</string>
		<key>eight.sups</key>
		<string>eight.sups.glif</string>
		<key>eight.tosf</key>
		<string>eight.tosf.glif</string>
		<key>eighthnote</key>
		<string>eighthnote.glif</string>
		<key>el</key>
		<string>el.glif</string>
		<key>ellipsis</key>
		<string>ellipsis.glif</string>
		<key>em</key>
		<string>em.glif</string>
		<key>emacron</key>
		<string>emacron.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>emdash.cap</key>
		<string>emdash.cap.glif</string>
		<key>emdash.sups</key>
		<string>emdash.sups.glif</string>
		<key>en</key>
		<string>en.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>endash.cap</key>
		<string>endash.cap.glif</string>
		<key>endash.sups</key>
		<string>endash.sups.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>epsilon</key>
		<string>epsilon.glif</string>
		<key>epsilontonos</key>
		<string>epsilontonos.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>er</key>
		<string>er.glif</string>
		<key>es</key>
		<string>es.glif</string>
		<key>estimated</key>
		<string>estimated.glif</string>
		<key>eta</key>
		<string>eta.glif</string>
		<key>etatonos</key>
		<string>etatonos.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>exclamdown.cap</key>
		<string>exclamdown.cap.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>f.liga</key>
		<string>f.liga.glif</string>
		<key>f.ligalong</key>
		<string>f.ligalong.glif</string>
		<key>f.sups</key>
		<string>f.sups.glif</string>
		<key>f_b</key>
		<string>f_b.glif</string>
		<key>f_f</key>
		<string>f_f.glif</string>
		<key>f_f_b</key>
		<string>f_f_b.glif</string>
		<key>f_f_f</key>
		<string>f_f_f.glif</string>
		<key>f_f_h</key>
		<string>f_f_h.glif</string>
		<key>f_f_i</key>
		<string>f_f_i.glif</string>
		<key>f_f_j</key>
		<string>f_f_j.glif</string>
		<key>f_f_k</key>
		<string>f_f_k.glif</string>
		<key>f_f_l</key>
		<string>f_f_l.glif</string>
		<key>f_f_t</key>
		<string>f_f_t.glif</string>
		<key>f_h</key>
		<string>f_h.glif</string>
		<key>f_i</key>
		<string>f_i.glif</string>
		<key>f_j</key>
		<string>f_j.glif</string>
		<key>f_k</key>
		<string>f_k.glif</string>
		<key>f_l</key>
		<string>f_l.glif</string>
		<key>f_t</key>
		<string>f_t.glif</string>
		<key>figuredash</key>
		<string>figuredash.glif</string>
		<key>figurespace</key>
		<string>figurespace.glif</string>
		<key>fisheye</key>
		<string>fisheye.glif</string>
		<key>fita</key>
		<string>fita.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.cap</key>
		<string>five.cap.glif</string>
		<key>five.dnom</key>
		<string>five.dnom.glif</string>
		<key>five.lf</key>
		<string>five.lf.glif</string>
		<key>five.numr</key>
		<string>five.numr.glif</string>
		<key>five.osf</key>
		<string>five.osf.glif</string>
		<key>five.subs</key>
		<string>five.subs.glif</string>
		<key>five.sups</key>
		<string>five.sups.glif</string>
		<key>five.tosf</key>
		<string>five.tosf.glif</string>
		<key>fiveeighths</key>
		<string>fiveeighths.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.cap</key>
		<string>four.cap.glif</string>
		<key>four.dnom</key>
		<string>four.dnom.glif</string>
		<key>four.lf</key>
		<string>four.lf.glif</string>
		<key>four.numr</key>
		<string>four.numr.glif</string>
		<key>four.osf</key>
		<string>four.osf.glif</string>
		<key>four.subs</key>
		<string>four.subs.glif</string>
		<key>four.sups</key>
		<string>four.sups.glif</string>
		<key>four.tosf</key>
		<string>four.tosf.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>g.sups</key>
		<string>g.sups.glif</string>
		<key>gamma</key>
		<string>gamma.glif</string>
		<key>gbreve</key>
		<string>gbreve.glif</string>
		<key>gcommaaccent</key>
		<string>gcommaaccent.glif</string>
		<key>gdotaccent</key>
		<string>gdotaccent.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>ghe</key>
		<string>ghe.glif</string>
		<key>gje</key>
		<string>gje.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>gravecmb</key>
		<string>gravecmb.glif</string>
		<key>gravecmb.cap</key>
		<string>gravecmb.cap.glif</string>
		<key>gravemod</key>
		<string>gravemod.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>greaterequal</key>
		<string>greaterequal.glif</string>
		<key>guillemotleft</key>
		<string>guillemotleft.glif</string>
		<key>guillemotleft.cap</key>
		<string>guillemotleft.cap.glif</string>
		<key>guillemotright</key>
		<string>guillemotright.glif</string>
		<key>guillemotright.cap</key>
		<string>guillemotright.cap.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>guilsinglleft.cap</key>
		<string>guilsinglleft.cap.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>guilsinglright.cap</key>
		<string>guilsinglright.cap.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>h.sups</key>
		<string>h.sups.glif</string>
		<key>ha</key>
		<string>ha.glif</string>
		<key>hard</key>
		<string>hard.glif</string>
		<key>horizontalbar</key>
		<string>horizontalbar.glif</string>
		<key>horizontalbar.cap</key>
		<string>horizontalbar.cap.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>hungarumlautcmb.cap</key>
		<string>hungarumlautcmb.cap.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>hyphen.cap</key>
		<string>hyphen.cap.glif</string>
		<key>hyphen.sups</key>
		<string>hyphen.sups.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>i.sups</key>
		<string>i.sups.glif</string>
		<key>i.trk</key>
		<string>i.trk.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>ie</key>
		<string>ie.glif</string>
		<key>iebreve</key>
		<string>iebreve.glif</string>
		<key>iegrave</key>
		<string>iegrave.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>igravecyr</key>
		<string>igravecyr.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>integral</key>
		<string>integral.glif</string>
		<key>io</key>
		<string>io.glif</string>
		<key>iogonek</key>
		<string>iogonek.glif</string>
		<key>iota</key>
		<string>iota.glif</string>
		<key>iotadieresis</key>
		<string>iotadieresis.glif</string>
		<key>iotadieresistonos</key>
		<string>iotadieresistonos.glif</string>
		<key>iotatonos</key>
		<string>iotatonos.glif</string>
		<key>ishort</key>
		<string>ishort.glif</string>
		<key>iukran</key>
		<string>iukran.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.sups</key>
		<string>j.sups.glif</string>
		<key>je</key>
		<string>je.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>k.sups</key>
		<string>k.sups.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>kai</key>
		<string>kai.glif</string>
		<key>kappa</key>
		<string>kappa.glif</string>
		<key>kcommaaccent</key>
		<string>kcommaaccent.glif</string>
		<key>kje</key>
		<string>kje.glif</string>
		<key>koppa</key>
		<string>koppa.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.sups</key>
		<string>l.sups.glif</string>
		<key>lacute</key>
		<string>lacute.glif</string>
		<key>lambda</key>
		<string>lambda.glif</string>
		<key>lcaron</key>
		<string>lcaron.glif</string>
		<key>lcommaaccent</key>
		<string>lcommaaccent.glif</string>
		<key>ldot</key>
		<string>ldot.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>liraturkish</key>
		<string>liraturkish.glif</string>
		<key>litre</key>
		<string>litre.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>longs</key>
		<string>longs.glif</string>
		<key>lownumeralsign</key>
		<string>lownumeralsign.glif</string>
		<key>lozenge</key>
		<string>lozenge.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>m.sups</key>
		<string>m.sups.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>macroncmb</key>
		<string>macroncmb.glif</string>
		<key>macroncmb.cap</key>
		<string>macroncmb.cap.glif</string>
		<key>macronmod</key>
		<string>macronmod.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>mu</key>
		<string>mu.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>n.sups</key>
		<string>n.sups.glif</string>
		<key>nacute</key>
		<string>nacute.glif</string>
		<key>ncaron</key>
		<string>ncaron.glif</string>
		<key>ncommaaccent</key>
		<string>ncommaaccent.glif</string>
		<key>ndotaccent</key>
		<string>ndotaccent.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nine.cap</key>
		<string>nine.cap.glif</string>
		<key>nine.dnom</key>
		<string>nine.dnom.glif</string>
		<key>nine.lf</key>
		<string>nine.lf.glif</string>
		<key>nine.numr</key>
		<string>nine.numr.glif</string>
		<key>nine.osf</key>
		<string>nine.osf.glif</string>
		<key>nine.subs</key>
		<string>nine.subs.glif</string>
		<key>nine.sups</key>
		<string>nine.sups.glif</string>
		<key>nine.tosf</key>
		<string>nine.tosf.glif</string>
		<key>notequal</key>
		<string>notequal.glif</string>
		<key>ntilde</key>
		<string>ntilde.glif</string>
		<key>nu</key>
		<string>nu.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>numeralsign</key>
		<string>numeralsign.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.sups</key>
		<string>o.sups.glif</string>
		<key>oacute</key>
		<string>oacute.glif</string>
		<key>obarcyr</key>
		<string>obarcyr.glif</string>
		<key>ocircumflex</key>
		<string>ocircumflex.glif</string>
		<key>ocyr</key>
		<string>ocyr.glif</string>
		<key>odieresis</key>
		<string>odieresis.glif</string>
		<key>odieresiscyr</key>
		<string>odieresiscyr.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>ogonekcmb</key>
		<string>ogonekcmb.glif</string>
		<key>ograve</key>
		<string>ograve.glif</string>
		<key>ohungarumlaut</key>
		<string>ohungarumlaut.glif</string>
		<key>omacron</key>
		<string>omacron.glif</string>
		<key>omega</key>
		<string>omega.glif</string>
		<key>omegatonos</key>
		<string>omegatonos.glif</string>
		<key>omicron</key>
		<string>omicron.glif</string>
		<key>omicrontonos</key>
		<string>omicrontonos.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.cap</key>
		<string>one.cap.glif</string>
		<key>one.dnom</key>
		<string>one.dnom.glif</string>
		<key>one.lf</key>
		<string>one.lf.glif</string>
		<key>one.numr</key>
		<string>one.numr.glif</string>
		<key>one.osf</key>
		<string>one.osf.glif</string>
		<key>one.subs</key>
		<string>one.subs.glif</string>
		<key>one.sups</key>
		<string>one.sups.glif</string>
		<key>one.tosf</key>
		<string>one.tosf.glif</string>
		<key>oneeighth</key>
		<string>oneeighth.glif</string>
		<key>onehalf</key>
		<string>onehalf.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>onethird</key>
		<string>onethird.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>ordmasculine</key>
		<string>ordmasculine.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>otilde</key>
		<string>otilde.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>p.sups</key>
		<string>p.sups.glif</string>
		<key>palochka</key>
		<string>palochka.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenleft.cap</key>
		<string>parenleft.cap.glif</string>
		<key>parenleft.dnom</key>
		<string>parenleft.dnom.glif</string>
		<key>parenleft.numr</key>
		<string>parenleft.numr.glif</string>
		<key>parenleft.subs</key>
		<string>parenleft.subs.glif</string>
		<key>parenleft.sups</key>
		<string>parenleft.sups.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>parenright.cap</key>
		<string>parenright.cap.glif</string>
		<key>parenright.dnom</key>
		<string>parenright.dnom.glif</string>
		<key>parenright.numr</key>
		<string>parenright.numr.glif</string>
		<key>parenright.subs</key>
		<string>parenright.subs.glif</string>
		<key>parenright.sups</key>
		<string>parenright.sups.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>pe</key>
		<string>pe.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>period.dnom</key>
		<string>period.dnom.glif</string>
		<key>period.numr</key>
		<string>period.numr.glif</string>
		<key>period.subs</key>
		<string>period.subs.glif</string>
		<key>period.sups</key>
		<string>period.sups.glif</string>
		<key>periodcentered</key>
		<string>periodcentered.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>phi</key>
		<string>phi.glif</string>
		<key>pi</key>
		<string>pi.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>prime</key>
		<string>prime.glif</string>
		<key>product</key>
		<string>product.glif</string>
		<key>psi</key>
		<string>psi.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>q.sups</key>
		<string>q.sups.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>questiondown.cap</key>
		<string>questiondown.cap.glif</string>
		<key>questiongreek</key>
		<string>questiongreek.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>r.sups</key>
		<string>r.sups.glif</string>
		<key>racute</key>
		<string>racute.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>rcaron</key>
		<string>rcaron.glif</string>
		<key>rcommaaccent</key>
		<string>rcommaaccent.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>rho</key>
		<string>rho.glif</string>
		<key>ring</key>
		<string>ring.glif</string>
		<key>ringcmb</key>
		<string>ringcmb.glif</string>
		<key>ringcmb.cap</key>
		<string>ringcmb.cap.glif</string>
		<key>ruble</key>
		<string>ruble.glif</string>
		<key>rupeeindian</key>
		<string>rupeeindian.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>s.sups</key>
		<string>s.sups.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>sampi</key>
		<string>sampi.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>scedilla</key>
		<string>scedilla.glif</string>
		<key>scommaaccent</key>
		<string>scommaaccent.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>servicemark</key>
		<string>servicemark.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.cap</key>
		<string>seven.cap.glif</string>
		<key>seven.dnom</key>
		<string>seven.dnom.glif</string>
		<key>seven.lf</key>
		<string>seven.lf.glif</string>
		<key>seven.numr</key>
		<string>seven.numr.glif</string>
		<key>seven.osf</key>
		<string>seven.osf.glif</string>
		<key>seven.subs</key>
		<string>seven.subs.glif</string>
		<key>seven.sups</key>
		<string>seven.sups.glif</string>
		<key>seven.tosf</key>
		<string>seven.tosf.glif</string>
		<key>seveneighths</key>
		<string>seveneighths.glif</string>
		<key>sha</key>
		<string>sha.glif</string>
		<key>shcha</key>
		<string>shcha.glif</string>
		<key>shha</key>
		<string>shha.glif</string>
		<key>sigma</key>
		<string>sigma.glif</string>
		<key>sigma.end</key>
		<string>sigma.end.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.cap</key>
		<string>six.cap.glif</string>
		<key>six.dnom</key>
		<string>six.dnom.glif</string>
		<key>six.lf</key>
		<string>six.lf.glif</string>
		<key>six.numr</key>
		<string>six.numr.glif</string>
		<key>six.osf</key>
		<string>six.osf.glif</string>
		<key>six.subs</key>
		<string>six.subs.glif</string>
		<key>six.sups</key>
		<string>six.sups.glif</string>
		<key>six.tosf</key>
		<string>six.tosf.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>slash.frac</key>
		<string>slash.frac.glif</string>
		<key>soft</key>
		<string>soft.glif</string>
		<key>soundcopyright</key>
		<string>soundcopyright.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>space.frac</key>
		<string>space.frac.glif</string>
		<key>squareblack</key>
		<string>squareblack.glif</string>
		<key>squareshadow</key>
		<string>squareshadow.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>stigma</key>
		<string>stigma.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>t.sups</key>
		<string>t.sups.glif</string>
		<key>tau</key>
		<string>tau.glif</string>
		<key>tcaron</key>
		<string>tcaron.glif</string>
		<key>tcedilla</key>
		<string>tcedilla.glif</string>
		<key>tcommaaccent</key>
		<string>tcommaaccent.glif</string>
		<key>te</key>
		<string>te.glif</string>
		<key>theta</key>
		<string>theta.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.cap</key>
		<string>three.cap.glif</string>
		<key>three.dnom</key>
		<string>three.dnom.glif</string>
		<key>three.lf</key>
		<string>three.lf.glif</string>
		<key>three.numr</key>
		<string>three.numr.glif</string>
		<key>three.osf</key>
		<string>three.osf.glif</string>
		<key>three.subs</key>
		<string>three.subs.glif</string>
		<key>three.sups</key>
		<string>three.sups.glif</string>
		<key>three.tosf</key>
		<string>three.tosf.glif</string>
		<key>threeeighths</key>
		<string>threeeighths.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>tildecmb</key>
		<string>tildecmb.glif</string>
		<key>tildecmb.cap</key>
		<string>tildecmb.cap.glif</string>
		<key>tonos</key>
		<string>tonos.glif</string>
		<key>tonos.cap</key>
		<string>tonos.cap.glif</string>
		<key>tonoscmb</key>
		<string>tonoscmb.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
		<key>triangleblackdown</key>
		<string>triangleblackdown.glif</string>
		<key>triangleblackleft</key>
		<string>triangleblackleft.glif</string>
		<key>triangleblackright</key>
		<string>triangleblackright.glif</string>
		<key>triangleblackup</key>
		<string>triangleblackup.glif</string>
		<key>trianglewhitedown</key>
		<string>trianglewhitedown.glif</string>
		<key>trianglewhiteleft</key>
		<string>trianglewhiteleft.glif</string>
		<key>trianglewhiteright</key>
		<string>trianglewhiteright.glif</string>
		<key>trianglewhiteup</key>
		<string>trianglewhiteup.glif</string>
		<key>tse</key>
		<string>tse.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.cap</key>
		<string>two.cap.glif</string>
		<key>two.dnom</key>
		<string>two.dnom.glif</string>
		<key>two.lf</key>
		<string>two.lf.glif</string>
		<key>two.numr</key>
		<string>two.numr.glif</string>
		<key>two.osf</key>
		<string>two.osf.glif</string>
		<key>two.subs</key>
		<string>two.subs.glif</string>
		<key>two.sups</key>
		<string>two.sups.glif</string>
		<key>two.tosf</key>
		<string>two.tosf.glif</string>
		<key>twothirds</key>
		<string>twothirds.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>u.sups</key>
		<string>u.sups.glif</string>
		<key>uacute</key>
		<string>uacute.glif</string>
		<key>uacutedblcyr</key>
		<string>uacutedblcyr.glif</string>
		<key>ucircumflex</key>
		<string>ucircumflex.glif</string>
		<key>ucyr</key>
		<string>ucyr.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>ugrave</key>
		<string>ugrave.glif</string>
		<key>uhungarumlaut</key>
		<string>uhungarumlaut.glif</string>
		<key>umacron</key>
		<string>umacron.glif</string>
		<key>umacroncyr</key>
		<string>umacroncyr.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>uogonek</key>
		<string>uogonek.glif</string>
		<key>upsilon</key>
		<string>upsilon.glif</string>
		<key>upsilondieresis</key>
		<string>upsilondieresis.glif</string>
		<key>upsilondieresistonos</key>
		<string>upsilondieresistonos.glif</string>
		<key>upsilontonos</key>
		<string>upsilontonos.glif</string>
		<key>uring</key>
		<string>uring.glif</string>
		<key>ushort</key>
		<string>ushort.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>v.sups</key>
		<string>v.sups.glif</string>
		<key>ve</key>
		<string>ve.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>w.sups</key>
		<string>w.sups.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>x.sups</key>
		<string>x.sups.glif</string>
		<key>xi</key>
		<string>xi.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>y.sups</key>
		<string>y.sups.glif</string>
		<key>yacute</key>
		<string>yacute.glif</string>
		<key>ydieresis</key>
		<string>ydieresis.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>yeru</key>
		<string>yeru.glif</string>
		<key>yi</key>
		<string>yi.glif</string>
		<key>yu</key>
		<string>yu.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>z.sups</key>
		<string>z.sups.glif</string>
		<key>zacute</key>
		<string>zacute.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotaccent</key>
		<string>zdotaccent.glif</string>
		<key>ze</key>
		<string>ze.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.cap</key>
		<string>zero.cap.glif</string>
		<key>zero.dnom</key>
		<string>zero.dnom.glif</string>
		<key>zero.lf</key>
		<string>zero.lf.glif</string>
		<key>zero.lfslash</key>
		<string>zero.lfslash.glif</string>
		<key>zero.numr</key>
		<string>zero.numr.glif</string>
		<key>zero.osf</key>
		<string>zero.osf.glif</string>
		<key>zero.slash</key>
		<string>zero.slash.glif</string>
		<key>zero.subs</key>
		<string>zero.subs.glif</string>
		<key>zero.sups</key>
		<string>zero.sups.glif</string>
		<key>zero.tosf</key>
		<string>zero.tosf.glif</string>
		<key>zeta</key>
		<string>zeta.glif</string>
	</dict>
</plist>
