/*Caption*/

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-ExtraLight.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-ExtraLight.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-ExtraLightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-ExtraLightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-Light.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-Light.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-LightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-LightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-Regular.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-Regular.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-It.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-It.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-Semibold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-Semibold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-SemiboldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-SemiboldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-Bold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-Bold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-BoldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-BoldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-Black.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-Black.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Caption-BlackIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Caption-BlackIt.ttf.woff') format('woff');
}


/*SmText*/

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-ExtraLight.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-ExtraLight.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-ExtraLightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-ExtraLightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-Light.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-Light.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-LightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-LightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-Regular.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-Regular.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-It.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-It.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-Semibold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-Semibold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-SemiboldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-SemiboldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-Bold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-Bold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-BoldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-BoldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-Black.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-Black.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4SmText-BlackIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4SmText-BlackIt.ttf.woff') format('woff');
}


/*Text*/

@font-face{
    font-family: 'Source Serif';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-ExtraLight.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-ExtraLight.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-ExtraLightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-ExtraLightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-Light.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-Light.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-LightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-LightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-Regular.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-Regular.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-It.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-It.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-Semibold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-Semibold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-SemiboldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-SemiboldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-Bold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-Bold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-BoldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-BoldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-Black.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-Black.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4-BlackIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4-BlackIt.ttf.woff') format('woff');
}


/*Subhead*/

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-ExtraLight.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-ExtraLight.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-ExtraLightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-ExtraLightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-Light.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-Light.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-LightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-LightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-Regular.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-Regular.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-It.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-It.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-Semibold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-Semibold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-SemiboldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-SemiboldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-Bold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-Bold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-BoldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-BoldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-Black.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-Black.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Subhead-BlackIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Subhead-BlackIt.ttf.woff') format('woff');
}


/*Display*/

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-ExtraLight.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-ExtraLight.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-ExtraLightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-ExtraLightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-Light.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-Light.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-LightIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-LightIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-Regular.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-Regular.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-It.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-It.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-Semibold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-Semibold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-SemiboldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-SemiboldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-Bold.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-Bold.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-BoldIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-BoldIt.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-Black.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-Black.ttf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/WOFF2/SourceSerif4Display-BlackIt.otf.woff2') format('woff2'),
         url('fonts/WOFF/SourceSerif4Display-BlackIt.ttf.woff') format('woff');
}
