@font-face{
    font-family: 'Source Serif 4';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-ExtraLightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-ExtraLightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-LightIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-LightIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-It.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-It.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-SemiboldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-SemiboldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-BoldIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-BoldIt.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Serif 4';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF2/TTF/SourceSerif4-BlackIt.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSerif4-BlackIt.otf.woff') format('woff');
}

@supports (font-variation-settings:normal) {
    @font-face{
        font-family: 'Source Serif 4';
        font-weight: 200 900;
        font-style: italic;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Italic.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Italic.ttf.woff') format('woff-variations');
    }
    @font-face{
        font-family: 'Source Serif 4';
        font-weight: 200 900;
        font-style: normal;
        font-stretch: normal;
        src: url('VAR/SourceSerif4Variable-Roman.ttf.woff2') format('woff2-variations'),
             url('VAR/SourceSerif4Variable-Roman.ttf.woff') format('woff-variations');
    }


}