<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>LATIN</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>AE</string>
			<string>Ccedilla</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Lslash</string>
			<string>Ntilde</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>OE</string>
			<string>Scaron</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Zcaron</string>
			<string>Eth</string>
			<string>Thorn</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>ae</string>
			<string>ccedilla</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>dotlessi</string>
			<string>lslash</string>
			<string>ntilde</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>oe</string>
			<string>scaron</string>
			<string>germandbls</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>zcaron</string>
			<string>eth</string>
			<string>thorn</string>
			<string>f_i</string>
			<string>f_l</string>
		</array>
		<key>currency</key>
		<array>
			<string>currency</string>
			<string>dollar</string>
			<string>cent</string>
			<string>sterling</string>
			<string>yen</string>
			<string>Euro</string>
		</array>
		<key>fig.lf</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>fractions</key>
		<array>
			<string>fraction</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
		</array>
		<key>lc</key>
		<array>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>ae</string>
			<string>ccedilla</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>dotlessi</string>
			<string>lslash</string>
			<string>ntilde</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>oe</string>
			<string>scaron</string>
			<string>germandbls</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
			<string>yacute</string>
			<string>ydieresis</string>
			<string>zcaron</string>
			<string>eth</string>
			<string>thorn</string>
			<string>f_i</string>
			<string>f_l</string>
			<string>florin</string>
		</array>
		<key>math</key>
		<array>
			<string>bar</string>
			<string>percent</string>
			<string>perthousand</string>
			<string>plus</string>
			<string>minus</string>
			<string>multiply</string>
			<string>divide</string>
			<string>equal</string>
			<string>less</string>
			<string>greater</string>
			<string>plusminus</string>
			<string>asciitilde</string>
			<string>logicalnot</string>
		</array>
		<key>modifiers</key>
		<array>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>grave</string>
			<string>acute</string>
			<string>circumflex</string>
			<string>caron</string>
			<string>macron</string>
		</array>
		<key>public.kern1.LAT_A</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
		</array>
		<key>public.kern1.LAT_C</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
		</array>
		<key>public.kern1.LAT_D</key>
		<array>
			<string>D</string>
			<string>Eth</string>
		</array>
		<key>public.kern1.LAT_E</key>
		<array>
			<string>E</string>
			<string>AE</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>OE</string>
		</array>
		<key>public.kern1.LAT_G</key>
		<array>
			<string>G</string>
		</array>
		<key>public.kern1.LAT_H</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>M</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
		</array>
		<key>public.kern1.LAT_J</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern1.LAT_K</key>
		<array>
			<string>K</string>
		</array>
		<key>public.kern1.LAT_L</key>
		<array>
			<string>L</string>
			<string>Lslash</string>
		</array>
		<key>public.kern1.LAT_N</key>
		<array>
			<string>N</string>
			<string>Ntilde</string>
		</array>
		<key>public.kern1.LAT_O</key>
		<array>
			<string>O</string>
			<string>Q</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
		</array>
		<key>public.kern1.LAT_R</key>
		<array>
			<string>R</string>
		</array>
		<key>public.kern1.LAT_S</key>
		<array>
			<string>S</string>
			<string>Scaron</string>
		</array>
		<key>public.kern1.LAT_T</key>
		<array>
			<string>T</string>
		</array>
		<key>public.kern1.LAT_U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
		</array>
		<key>public.kern1.LAT_W</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern1.LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern1.LAT_Z</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
		</array>
		<key>public.kern1.LAT_a</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
		</array>
		<key>public.kern1.LAT_b</key>
		<array>
			<string>b</string>
			<string>o</string>
			<string>p</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>thorn</string>
		</array>
		<key>public.kern1.LAT_c</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
		</array>
		<key>public.kern1.LAT_e</key>
		<array>
			<string>e</string>
			<string>ae</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>oe</string>
		</array>
		<key>public.kern1.LAT_f</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.LAT_g</key>
		<array>
			<string>g</string>
		</array>
		<key>public.kern1.LAT_h</key>
		<array>
			<string>h</string>
			<string>m</string>
			<string>n</string>
			<string>ntilde</string>
		</array>
		<key>public.kern1.LAT_i</key>
		<array>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
			<string>dotlessi</string>
			<string>f_i</string>
		</array>
		<key>public.kern1.LAT_icircumflex</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
		</array>
		<key>public.kern1.LAT_j</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern1.LAT_k</key>
		<array>
			<string>k</string>
		</array>
		<key>public.kern1.LAT_l</key>
		<array>
			<string>d</string>
			<string>l</string>
			<string>lslash</string>
			<string>f_l</string>
		</array>
		<key>public.kern1.LAT_r</key>
		<array>
			<string>r</string>
		</array>
		<key>public.kern1.LAT_s</key>
		<array>
			<string>s</string>
			<string>scaron</string>
		</array>
		<key>public.kern1.LAT_t</key>
		<array>
			<string>t</string>
		</array>
		<key>public.kern1.LAT_u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
		</array>
		<key>public.kern1.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
		</array>
		<key>public.kern1.LAT_z</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
		</array>
		<key>public.kern1.bar</key>
		<array>
			<string>bar</string>
			<string>brokenbar</string>
		</array>
		<key>public.kern1.colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern1.comma</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
		</array>
		<key>public.kern1.copyright</key>
		<array>
			<string>copyright</string>
		</array>
		<key>public.kern1.equal</key>
		<array>
			<string>equal</string>
			<string>logicalnot</string>
		</array>
		<key>public.kern1.fractions</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
		</array>
		<key>public.kern1.guilsinglleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern1.guilsinglright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern1.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
		</array>
		<key>public.kern1.less</key>
		<array>
			<string>multiply</string>
			<string>less</string>
		</array>
		<key>public.kern1.parenleft</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
		</array>
		<key>public.kern1.parenright</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
		</array>
		<key>public.kern1.periodcentered</key>
		<array>
			<string>periodcentered</string>
		</array>
		<key>public.kern1.plus</key>
		<array>
			<string>plus</string>
			<string>minus</string>
			<string>divide</string>
			<string>greater</string>
			<string>asciitilde</string>
		</array>
		<key>public.kern1.quotedbl</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern1.quoteleft</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern1.quoteright</key>
		<array>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern1.quotesinglbase</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern1.registered</key>
		<array>
			<string>asterisk</string>
			<string>registered</string>
		</array>
		<key>public.kern1.sups_corner</key>
		<array>
			<string>ordfeminine</string>
		</array>
		<key>public.kern1.sups_figures</key>
		<array>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
		</array>
		<key>public.kern1.sups_round</key>
		<array>
			<string>ordmasculine</string>
		</array>
		<key>public.kern1.trademark</key>
		<array>
			<string>trademark</string>
		</array>
		<key>public.kern2.LAT_A</key>
		<array>
			<string>A</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
		</array>
		<key>public.kern2.LAT_E</key>
		<array>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>H</string>
			<string>I</string>
			<string>K</string>
			<string>L</string>
			<string>P</string>
			<string>R</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Lslash</string>
			<string>Eth</string>
			<string>Thorn</string>
		</array>
		<key>public.kern2.LAT_J</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern2.LAT_M</key>
		<array>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
		</array>
		<key>public.kern2.LAT_O</key>
		<array>
			<string>C</string>
			<string>G</string>
			<string>O</string>
			<string>Q</string>
			<string>Ccedilla</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>OE</string>
		</array>
		<key>public.kern2.LAT_S</key>
		<array>
			<string>S</string>
			<string>Scaron</string>
		</array>
		<key>public.kern2.LAT_T</key>
		<array>
			<string>T</string>
		</array>
		<key>public.kern2.LAT_U</key>
		<array>
			<string>U</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
		</array>
		<key>public.kern2.LAT_W</key>
		<array>
			<string>W</string>
		</array>
		<key>public.kern2.LAT_Y</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
		</array>
		<key>public.kern2.LAT_Z</key>
		<array>
			<string>Z</string>
			<string>Zcaron</string>
		</array>
		<key>public.kern2.LAT_a</key>
		<array>
			<string>a</string>
			<string>agrave</string>
			<string>aacute</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>adieresis</string>
			<string>aring</string>
			<string>ae</string>
		</array>
		<key>public.kern2.LAT_f</key>
		<array>
			<string>f</string>
			<string>germandbls</string>
			<string>f_i</string>
			<string>f_l</string>
		</array>
		<key>public.kern2.LAT_g</key>
		<array>
			<string>g</string>
		</array>
		<key>public.kern2.LAT_h</key>
		<array>
			<string>b</string>
			<string>h</string>
			<string>k</string>
			<string>l</string>
			<string>lslash</string>
		</array>
		<key>public.kern2.LAT_i</key>
		<array>
			<string>i</string>
			<string>igrave</string>
			<string>iacute</string>
		</array>
		<key>public.kern2.LAT_icircumflex</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
		</array>
		<key>public.kern2.LAT_j</key>
		<array>
			<string>j</string>
		</array>
		<key>public.kern2.LAT_m</key>
		<array>
			<string>m</string>
			<string>n</string>
			<string>r</string>
			<string>dotlessi</string>
			<string>ntilde</string>
		</array>
		<key>public.kern2.LAT_o</key>
		<array>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>o</string>
			<string>q</string>
			<string>ccedilla</string>
			<string>egrave</string>
			<string>eacute</string>
			<string>ecircumflex</string>
			<string>edieresis</string>
			<string>ograve</string>
			<string>oacute</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>oslash</string>
			<string>oe</string>
			<string>eth</string>
		</array>
		<key>public.kern2.LAT_s</key>
		<array>
			<string>s</string>
			<string>scaron</string>
		</array>
		<key>public.kern2.LAT_t</key>
		<array>
			<string>t</string>
		</array>
		<key>public.kern2.LAT_u</key>
		<array>
			<string>u</string>
			<string>ugrave</string>
			<string>uacute</string>
			<string>ucircumflex</string>
			<string>udieresis</string>
		</array>
		<key>public.kern2.LAT_v</key>
		<array>
			<string>v</string>
			<string>w</string>
		</array>
		<key>public.kern2.LAT_y</key>
		<array>
			<string>y</string>
			<string>yacute</string>
			<string>ydieresis</string>
		</array>
		<key>public.kern2.LAT_z</key>
		<array>
			<string>z</string>
			<string>zcaron</string>
		</array>
		<key>public.kern2.bar</key>
		<array>
			<string>bar</string>
			<string>brokenbar</string>
		</array>
		<key>public.kern2.colon</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern2.comma</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
		</array>
		<key>public.kern2.copyright</key>
		<array>
			<string>copyright</string>
		</array>
		<key>public.kern2.equal</key>
		<array>
			<string>equal</string>
		</array>
		<key>public.kern2.fractions</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
			<string>onequarter</string>
			<string>onehalf</string>
			<string>threequarters</string>
		</array>
		<key>public.kern2.greater</key>
		<array>
			<string>multiply</string>
			<string>greater</string>
		</array>
		<key>public.kern2.guilsinglleft</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern2.guilsinglright</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern2.hyphen</key>
		<array>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
		</array>
		<key>public.kern2.parenleft</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
		</array>
		<key>public.kern2.parenright</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
		</array>
		<key>public.kern2.periodcentered</key>
		<array>
			<string>periodcentered</string>
		</array>
		<key>public.kern2.plus</key>
		<array>
			<string>plus</string>
			<string>minus</string>
			<string>divide</string>
			<string>less</string>
			<string>asciitilde</string>
			<string>logicalnot</string>
		</array>
		<key>public.kern2.quotedbl</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
		</array>
		<key>public.kern2.quoteleft</key>
		<array>
			<string>quoteleft</string>
			<string>quotedblleft</string>
		</array>
		<key>public.kern2.quoteright</key>
		<array>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern2.quotesinglbase</key>
		<array>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern2.registered</key>
		<array>
			<string>asterisk</string>
			<string>registered</string>
		</array>
		<key>public.kern2.sups_figures</key>
		<array>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
		</array>
		<key>public.kern2.sups_round</key>
		<array>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>public.kern2.trademark</key>
		<array>
			<string>trademark</string>
		</array>
		<key>punc</key>
		<array>
			<string>ampersand</string>
			<string>period</string>
			<string>comma</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>ellipsis</string>
			<string>exclam</string>
			<string>exclamdown</string>
			<string>question</string>
			<string>questiondown</string>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>hyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>periodcentered</string>
			<string>bullet</string>
			<string>underscore</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>bracketleft</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>braceright</string>
			<string>slash</string>
			<string>bar</string>
			<string>backslash</string>
			<string>brokenbar</string>
			<string>asterisk</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>paragraph</string>
			<string>at</string>
			<string>numbersign</string>
		</array>
		<key>sups</key>
		<array>
			<string>one.sups</string>
			<string>two.sups</string>
			<string>three.sups</string>
			<string>ordfeminine</string>
			<string>ordmasculine</string>
		</array>
		<key>symbols</key>
		<array>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>degree</string>
		</array>
		<key>uc</key>
		<array>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>Agrave</string>
			<string>Aacute</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Adieresis</string>
			<string>Aring</string>
			<string>AE</string>
			<string>Ccedilla</string>
			<string>Egrave</string>
			<string>Eacute</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Igrave</string>
			<string>Iacute</string>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Lslash</string>
			<string>Ntilde</string>
			<string>Ograve</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>OE</string>
			<string>Scaron</string>
			<string>Ugrave</string>
			<string>Uacute</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Yacute</string>
			<string>Ydieresis</string>
			<string>Zcaron</string>
			<string>Eth</string>
			<string>Thorn</string>
		</array>
	</dict>
</plist>
